button,html,input,select,textarea
	color #222
body,html
	height 100%
	min-height 100%
	position relative
body
	font-size 1em
	line-height 1.75em
	font-family 'Trebuchet MS',Helvetica,sans-serif
	position relative
	/*min-width 800px*/
	color #333
	background-color #dae6e8
	-webkit-font-smoothing antialiased
#help-nav
	opacity 0
section::-moz-selection, section::selection
	background #b3d4fc
	text-shadow none
hr
	display block
	height 1px
	border 0
	border-top 1px solid #ccc
	margin 1em 0
	padding 0
img
	vertical-align middle
	outline 0
	max-width 100%!important
fieldset
	border 0
	margin 0
	padding 0
textarea
	resize vertical
.chromeframe
	margin .2em 0
	background #ccc
	color #000
	padding .2em 0
/*.nav*/
	/*z-index 100*/
#navigation
	-webkit-transition top 1s ease-in-out
	-moz-transition top 1s ease-in-out
	-o-transition top 1s ease-in-out
	transition top 1s ease-in-out
	button
		font-size 20px
		border 2px solid
	ul
		font-size 0
	li
		/*display inline-block*/
		font-size 10px
		a
			font-size 1.167em
			color #000
			/*display inline-block*/
			padding 0 37px
			vertical-align middle
			line-height 3.5em
			height 3.5em
			text-transform uppercase
			&:hover
				color #fff
				background #00a651
			img
				height 100%
				position relative
				padding .5em
		&.active
			a
				color #fff
				background #00a651
	&.navbar
		min-height 2em
		background #fff
	.navbar-header
		/*background #fff*/
	.navbar-brand
		height auto
		padding 0
		font-size inherit
		line-height inherit
		img
			height 3em
			margin .5em
	.navbar-collapse
		background #fff
#float_navigation.show-on-scroll,#navigation.show-on-scroll
	top -100%
#float_navigation
	position fixed
	top 113px
	right 56px
	li
		margin-bottom 5px
		a
			width 28px
			height 26px
			display block
			background url(../img/nav-icons.png) top left no-repeat
			padding 0
		&.current-menu-item
			a
				background-position -28px 0
#promo
	position relative
	width 100%
	background #000
	min-height 100%
	display block
	.promo-contact
		z-index 12
		position absolute
		top 25px
		right 0
		width auto
		display block
		color #fff
		font-size 3em
		line-height 1
		background-image none
		height auto
		a
			&:visited
				color #fff
				border-bottom dashed 1px #fff
	.promo-main-bg
		.arka
			top 0
			left 0
			background url(../img/preload/ARKA.png) 50% 50% no-repeat
			background-size cover
			display block
			margin 0 -5%
		img
			width 100%
			height 100%
			min-width 100%
		&:first-child
			img
				width 140%
				height 140%
				margin -2% 0 0 -7%
	.cont
		width 100%
		height 100%
		position absolute
		text-align center
		z-index 20
		top 0
		left 0
		color #fff
		img
			&:first-child
				width 11.2%
				padding-top 15.98%
			& + img
				width 52.27586%
				margin 0 auto
				padding 3.8731% 0 2.792%
				position relative
				z-index 17
				display block
	ul
		width 80%
		max-width 893px
		margin 0 auto
		padding 1.353% 4.25%
		border 1px solid #dad6bf
		border-left none
		border-right none
		text-align justify
		box-sizing border-box
		line-height 0
		li
			display inline-block
			font-size 2em
			line-height 1.5em
			text-align center
		&:after
			width 100%
			height 0
			visibility hidden
			overflow hidden
			content ''
			display inline-block
	a
		&.hellow
			font-size 14px
			text-transform uppercase
			color #fff
			text-decoration none
			padding 27px 13px
			line-height 1.55em
			display inline-block
			border-radius 100%
			z-index 22
			position relative
			-moz-transition all 1s ease-in
			-webkit-transition all 1s ease-in
			-o-transition all 1s ease-in
			transition all 1s ease-in
			background rgba(255,255,255,.3)
			&:hover
				background rgba(244,250,247,.46)
		&.hellow1
			font-size 14px
			text-transform uppercase
			color #fff
			text-decoration none
			padding 27px 13px
			line-height 1.55em
			display inline-block
			border-radius 100%
			z-index 22
			position relative
			-moz-transition all 1s ease-in
			-webkit-transition all 1s ease-in
			-o-transition all 1s ease-in
			transition all 1s ease-in
			background rgba(255,255,255,.3)
			&:hover
				background #00a651
		&.hellow2
			font-size 14px
			text-transform uppercase
			color #fff
			text-decoration none
			padding 30px 20px
			line-height 0.9em
			display inline-block
			border-radius 100%
			z-index 22
			position relative
			-moz-transition all 1s ease-in
			-webkit-transition all 1s ease-in
			-o-transition all 1s ease-in
			transition all 1s ease-in
			background rgba(255,255,255,.3)
			&:hover
				background #ff444d
	div
		&.cloud
			display block
			position absolute
			background-size contain
			background no-repeat 0 0
			z-index 11
			span
				display block
				position relative
			img
				max-width 100%
		&.cloud_1
			width 28.758%!important
			height 45.45%!important
			top 30.46%!important
			left 10.48%!important
			z-index 11
		&.cloud_2
			width 70.13%!important
			height 64.5%!important
			top 29.59%!important
			left 28.758%!important
			z-index 11
		&.cloud_3
			width 62.34%!important
			height 74.468%!important
			top 20.79%!important
			left 13.24%!important
			z-index 11
		&.cloud_6
			width 37.1%
			height 40.1353%
			top 0
			left 36.48%
			z-index 11
			position absolute
		&.cloud_4
			width 37.1%!important
			height 40.1353%!important
			top 0!important
			left 36.48%!important
			z-index 11
		&.cloud_5
			width 46.206%!important
			height 29.4%!important
			top 21.856%!important
			left 7.03448%!important
			z-index 13
.promo-contact__phone
	float right
	margin-right 25px
	display inline-block
	&:link
		color #fff
		text-decoration none
		border-bottom dashed 1px #fff
		&:hover
			border-bottom dashed 1px transparent
.promo-contact__link
	float right
	margin-right 25px
	display inline-block
	border-bottom dashed 1px transparent
	padding-top 1em
	line-height 1em
	font-size 0.7em
	&:link
		color #fff
		text-decoration none
		border-bottom dashed 1px #fff
		&:hover
			border-bottom dashed 1px transparent
.exhibition
	position absolute
	bottom 2%
	right 1%
	z-index 2
.exhibition__text
	color #fff
	font-size 2em
	line-height 1
	vertical-align bottom
.second--nav--menu
	padding 15px 10px
	border 1px solid #fff
	border-left none
	border-right none
	text-align center
	box-sizing border-box
	li
		display inline-block
		font-size 1em
		text-align center
		line-height 1.5em
		padding 0 20px
		color #fff
.cd-background-wrapper
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	.overlay-bg
		position absolute
		background url(../img/preload/pattern01.png), url(../img/preload/shadow-bg.png) repeat, repeat top left, top left
		width 100%
		height 100%
		top 0
		z-index 1
	&::before
		content 'web'
		display none
.no-touch
	.cd-background-wrapper
		-webkit-perspective 4000px
		-moz-perspective 4000px
		perspective 4000px
	.cd-floating-background
		transform-style preserve-3d
		-webkit-transform translateZ(0)
		-moz-transform translateZ(0)
		-ms-transform translateZ(0)
		-o-transform translateZ(0)
		transform translateZ(0)
		&.is-absolute
			position absolute
		img
			&:first-child
				-webkit-transform translateZ(50px)
				-moz-transform translateZ(50px)
				-ms-transform translateZ(50px)
				-o-transform translateZ(50px)
				transform translateZ(50px)
			&:nth-child(2)
				-webkit-transform translateZ(290px)
				-moz-transform translateZ(290px)
				-ms-transform translateZ(290px)
				-o-transform translateZ(290px)
				transform translateZ(290px)
			&:nth-child(3)
				-webkit-transform translateZ(400px)
				-moz-transform translateZ(400px)
				-ms-transform translateZ(400px)
				-o-transform translateZ(400px)
				transform translateZ(400px)
			&:nth-child(4)
				-webkit-transform translateZ(100px)
				-moz-transform translateZ(400px)
				-ms-transform translateZ(400px)
				-o-transform translateZ(400px)
				transform translateZ(100px)
	&.no-preserve-3d
		.cd-floating-background
			position relative
.touch
	.cd-background-wrapper
		&::before
			content 'mobile'
.cd-floating-background
	position absolute
	height 100%
	top 0
	left 0
	img
		display block
		width 100%
		height 100%
		-webkit-backface-visibility hidden
		backface-visibility hidden
		background-color rgba(255,255,255,.01)
		&:not(:first-child)
			position absolute
			top 0
			left 0
.overlay_this_shit
	width 100%
	height 100%
	position absolute
	top 0
	left 0
	background rgba(0,0,0,.4)
.swiper-container-v
	height 300px
#news
	background-size cover
	background url(../img/about/news.jpg) bottom center no-repeat
	background-size cover
	.news-prev
		left 10px
		right auto
	.news-next
		right 10px
		left auto
	.swiper-button-disabled
		opacity 0.25
		cursor not-allowed
	.news__image
		margin 1%
		display block
	.news__content
		display inline-block
		margin 20px
		p
			text-align justify
		a
			color white
			text-decoration underline
			background none
			&:hover
				text-decoration none
.news_container
	text-align center
	padding 60px 0
	color #fff
.one--paper--list--news
	background rgba(0,0,0,.4)
	padding 20px
	border-radius 5px
	-webkit-border-radius 5px
	p
		font-size 14px
		font-weight 500
.navi-about
	z-index 100
	width 100%
	position absolute
	bottom 0
	text-align center
	margin 2% auto
	padding 0
	left 0
	right 0
	span
		display inline-block
		vertical-align text-top
		width 8%
		max-width 103px
		cursor pointer
		position relative
		z-index 22
		height 97px
		background url(../img/about/icon-nav/bg.png) top center no-repeat
		background-position 0 -100px
		&:nth-child(even)
			margin 25px -21px 0
			background url(../img/about/icon-nav/bg-even.png) top center no-repeat
			background-position 0 100px
		&:hover
			transform rotate(360deg)
			-webkit-transform rotate(360deg)
			-moz-transform rotate(360deg)
			-o-transform rotate(360deg)
			-ms-transform rotate(360deg)
		&.swiper-active-switch
			&:hover
				transform none
				-webkit-transform none
				-moz-transform none
				-o-transform none
				-ms-transform none
		&:after
			background url(../img/about/icon-nav/border.png) top center no-repeat
		&:before
			background url(../img/about/about-navi2.png) bottom left no-repeat
		&:nth-child(even):after
			background url(../img/about/icon-nav/border-even.png) top center no-repeat
		&:nth-child(1):before
			background url(../img/about/icon-nav/info.png) 50% 30% no-repeat
			background-size 20%
		&:nth-child(2):before
			background url(../img/about/icon-nav/bulb.png) 50% no-repeat
		&:nth-child(3):before
			background url(../img/about/icon-nav/book.png) 50% 40% no-repeat
		&:nth-child(4):before
			background url(../img/about/icon-nav/drop.png) 50% no-repeat
.swiper-pagination-bullet
	width 18px
	height 18px
	display inline-block
	border-radius 100%
	background #000
	opacity .4
	margin-right 11px
.swiper-pagination-bullet-active
	opacity 1
	background #00a651
.promo__info-block
	width 100%
	height 100%
	z-index 1
	padding 0
	position relative
.info-block__logo
	width 100%
	text-align center
	display inline-block
	img
		width 10%
		margin-top 10%
.info-block__title
	width 100%
	margin-top 3%
	text-align center
	display inline-block
	img
		width 50%
.info-block__desc
	display inline-block
	width 100%
	text-align center
	margin-top 3%
	span
		padding 15px 10px
		border 1px solid #fff
		border-left none
		border-right none
		text-align center
		display inline-block
		max-width 80%
		color #fff
		font-size 2.5em
		line-height 1.5em
.info-block__buttons
	margin 4% 0
	width 100%
	text-align center
#promo .promo-main-bg, .promo-main-bg-fix
	width 110%
	height 100%
	margin -5% 0 0 -5%
	position absolute
	z-index 10
.promo-main-bg-fix
	span
		position relative
		width 100%
		height 100%
.non
	display none!important
.promo-parallax-layer
	position absolute
	img
		position relative
		overflow hidden

/* СЕКЦИЯ ABOUT */

#about
	position relative
	h1
		font-size 5em
		padding-bottom 3.8684%
		color #fff
		padding-top 5%
	&.swiper-container
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				float left
				background-size cover
				height auto
				padding-bottom 14%
	.tabs
		width 100%
		min-height 617px
		padding-bottom 240px
		height inherit
		position relative
		background-size cover
	.swiper-slide
		article
			width 85%
			max-width 1088px
			margin 0 auto
			text-align center
			padding-bottom 2em
			p
				color #fff
				margin 0
	#info
		&.swiper-slide
			article
				p
					font-size 2.5em
					line-height 1.286em
	.swiper-button-prev,.swiper-button-next
		background url("../img/projects/album-nav.png") no-repeat
		height 281px
		margin-top -160px
	.swiper-slide,.swiper-wrapper
		height auto
	.swiper-button-prev
		background-position 0 0
		&:hover
			background-position 0 -281px
	.swiper-button-next
		background-position -87px 0
		&:hover
			background-position -87px -281px
	#news article,#technology article
		width 80%
	.shadow-tabs
		background rgba(0,0,0,.5)
		box-sizing border-box
		-moz-box-sizing border-box
		-webkit-box-sizing border-box
#info
	background url(../img/about/about-bg-info.jpg) bottom center no-repeat
	background-size cover
#technology
	background url(../img/about/tech.jpg) bottom center no-repeat
	background-size cover
	article
		img
			width 100%
			max-width 685px
			max-height 194px
			border 3px solid #00a350
			border-radius 3px
			margin-bottom 28px
#preimushestva
	background url(../img/about/preimushestva.jpg) bottom center no-repeat
	background-size cover
	ul
		width 90%
		max-width 821px
		margin 0 auto
		li
			display inline-block
			vertical-align text-top
			width 35.4506%
			height 157px
			&:nth-child(odd)
				padding-right 8.75%
				text-align right
				background-position top right
			&:nth-child(even)
				padding-left 8.75%
				margin-left 10%
				text-align left
				background-position top left
			h2
				font-size 1.75em
				text-transform uppercase
				color #fff
				padding 5px 0 10px
			p
				font-size 1.2em
				color #fff
.swiper-container
	width 100%
	overflow hidden
	&.swiper-news-nav
		margin-top 13px
	&.swiper-news-content
		margin-top -5%
.swiper-news-content>div>div,.swiper-technology-content>div>div
	float left
	padding-top 16px
#news .news-prev,#news .news-next
	position absolute
	top 50%
	width 27px
	height 44px
	margin-top -22px
	z-index 23
	cursor pointer
	-moz-background-size 27px 44px
	-webkit-background-size 27px 44px
	background-size 27px 44px
	background no-repeat center
	color white
	font-size 2em
.swiper-news-content>.swiper-wrapper>.swiper-slide,.swiper-technology-content>.swiper-wrapper>.swiper-slide
	color #fff
.swiper-news-content>.swiper-wrapper>.swiper-slide h2,.swiper-news-content>.swiper-wrapper>.swiper-slide time,.swiper-technology-content>.swiper-wrapper>.swiper-slide h2,.swiper-technology-content>.swiper-wrapper>.swiper-slide time
	font-size 2em
	color #fff
.swiper-news-content>.swiper-wrapper>.swiper-slide h2,.swiper-technology-content>.swiper-wrapper>.swiper-slide h2
	margin 16px 0
#technology p,.swiper-news-content>.swiper-wrapper>.swiper-slide p,.swiper-technology-content>.swiper-wrapper>.swiper-slide p
	font-size 1.5em
	padding 10px 107px
.swiper-news-nav,.swiper-technology-nav
	height 140px
	padding 3px
	text-align center
.swiper-news-nav
	ul
		width 100%
		text-align center
.swiper-news-nav li,.swiper-technology-nav li
	display inline-block
	float none
	width 221px
	position relative
	box-sizing border-box
	-moz-box-sizing border-box
	-webkit-box-sizing border-box
.swiper-news-nav li span,.swiper-technology-nav li span
	display block
	width 207px
	margin 0 auto
	position relative
.swiper-news-nav li img,.swiper-technology-nav li img
	width 100%
	max-width 100%
.swiper-news-nav li span:hover:after,.swiper-technology-nav li span:hover:after,li.active-nav span:after
	position absolute
	content ""
	width 100%
	top -3px
	left -3px
	height 100%
	display block
	border 3px solid #00a651
	border-radius 2px
	margin 0
	z-index 55
.fire
	background url(../img/about/content/fire.png) no-repeat
.installation
	background url(../img/about/content/installation.png) no-repeat
.water-resistant
	background url(../img/about/content/water-resistant.png) no-repeat
.appearance
	background url(../img/about/content/appearance.png) no-repeat
.clear
	background url(../img/about/content/clear.png) no-repeat
.vermin
	background url(../img/about/content/vermin.png) no-repeat
.navi-about span,.navi-about span:after
	background-size contain!important
.navi-about span:after,.navi-about span:before
	content ""
	position absolute
	z-index 20
	width 100%
	display block
	top 0
	left 0
	right 0
	bottom 0
.navi-about span:nth-child(2):before,.navi-about span:nth-child(3):before,.navi-about span:nth-child(4):before
	background-size 40%
.navi-about span,.navi-about span:after,.navi-about span:before
	-webkit-transition .5s ease-in-out
	-moz-transition .5s ease-in-out
	-o-transition .5s ease-in-out
	transition .5s ease-in-out
.navi-about span.swiper-active-switch,.navi-about span:hover
	background-position 0 0
#news article, #technology article
	position relative
#news article .prev, #technology article .prev
	left -20px
#news article .prev:hover, #technology article .prev:hover
	background-position 0 -153px
#news article .next, #technology article>a.next
	right -35px
	background-position -24px -153px
#news article .next:hover, #technology article .next:hover
	background-position -24px 0
#window
	width 100%
	background #f3f3f3
	h1
		font-size 4em
		margin-bottom 26px
	h2
		font-size 2em
		line-height 1.243em
#quality
	article
		padding-top 69px
		text-align center
		vertical-align middle
		background -moz-linear-gradient(left,#f7f7f7 0,#f3f3f3 100%)
		background -webkit-gradient(linear,left top,right top,color-stop(0,#f7f7f7),color-stop(100%,#f3f3f3))
		background -webkit-linear-gradient(left,#f7f7f7 0,#f3f3f3 100%)
		background -o-linear-gradient(left,#f7f7f7 0,#f3f3f3 100%)
		background -ms-linear-gradient(left,#f7f7f7 0,#f3f3f3 100%)
		background linear-gradient(to right,#f7f7f7 0,#f3f3f3 100%)
		filter unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f3f3f3', GradientType=1)")
	.quality__list
		margin-top 69px
		.animated
			opacity: 1;
			margin-top: 10px;
			-webkit-transition: all 1s ease-out 1s;
			-moz-transition: all 1s ease-out 1s;
			-o-transition: all 1s ease-out 1s;
			transition: all 1s ease-out 1s;
		.quality__item
			display inline-block
			min-height 280px
			padding 0 10px
			font-size 1.267em
			text-transform uppercase
			/*max-width 180px*/
			img
				width 100%
				display table-row
				margin-bottom 1em
				vertical-align bottom
		.inf-formula
			//width 123px
		.inf-standart
			//width 146px
		.inf-skill
			//width 146px
		.inf-resurs
			//width 123px
		.thumbnail
			border none
			border-radius 0
			background none
			.caption
				text-align center
		.plus
			background url("../img/quality/icon-plus.png") center center no-repeat
			min-height 277px
	.result
		display block
		margin 60px auto 60px
		padding-top 100px
		background url("../img/quality/icon-result.png") 50% 50% no-repeat
	img
		width 100%
		max-width 1220px
		float left
#window
	padding 100px 0 100px
	position relative
	overflow hidden
	& > div
		position absolute
	.layer-back
		z-index 5
	.layer-middle
		z-index 6
	.layer-front
		z-index 8
	.parallax
		background no-repeat fixed
		background-position top right
		float right
		margin-top -100px
		width 100%
		height 100%
#quality #window h1,#quality #window h2
	position relative
	z-index 22
	text-align center
#kachestvo
	position relative
	overflow hidden
	padding 50px 0
	background-size cover
	background-image url(../img/bg-kachestvo.jpg)
	.parallax
		background-size cover
	& > div
		img
			width 100%
			min-width 100%
			padding 120px
	h1
		display block
		line-height 1.2
		font-size 8em
		color #fff
		text-align center
.full-title
	text-align center
	span
		padding 0 21px
.full-title h1,.full-title span
	display inline-block
	position relative
.full-title h1:after,.full-title h1:before,.full-title span:after,.full-title span:before
	content ""
	display inline-block
	border-top 1px solid #ddd
	position absolute
	margin-top 18px
.full-title h1:after,.full-title h1:before
	width 100%
.full-title span:after,.full-title span:before
	width 40px
	border-top 1px solid #14a751
	z-index 10
.full-title h1:before,.full-title span:before
	right 100%
.full-title h1:after,.full-title span:after
	left 100%
h1.green-priz
	font-size 30px
	color #14a751
	text-align center
	margin-top 67px
#servise
	border-top 2px solid #dae6e8
	padding-bottom 408px
	background url(../img/servise-bg.jpg) bottom center no-repeat
	background-size cover
	display inline-block
	article
		padding-bottom 105px
	.service-list
		margin 0 auto
		padding 0 7%
		span
			margin-bottom 74px
			padding-left 14em
			opacity 0
	span
		h2
			font-size 1.75em
			text-transform uppercase
			margin-bottom 15px
		i
			width 10em
			height 10em
			position absolute
			top 2em
			left 2em
			background-position center center
			background-size contain
		p
			font-size 1.5em
#quality>article h2.animated,#quality>article img.animated,#quality>article span.animated,#servise span.animated
	opacity 1
	margin-top 10px
	-webkit-transition all 1s ease-out 1s
	-moz-transition all 1s ease-out 1s
	-o-transition all 1s ease-out 1s
	transition all 1s ease-out 1s
.proekt
	background url("../img/servise/project.svg") no-repeat
.montage
	background url("../img/servise/montazh.svg") no-repeat
.montazh
	background url("../img/servise/zamer.svg") no-repeat
.dostavka
	background url("../img/servise/delivery.svg") no-repeat
.individual__rules
	background url("../img/servise/speci.svg") no-repeat
.post__payment
	background url("../img/servise/platezh.svg") no-repeat
.post__service
	background url("../img/servise/postprodazhnoe.svg") no-repeat
.storage
	background url("../img/servise/storage.svg") no-repeat
#projects
	margin-top -475px
	position relative
	.catalog-projects
		width 100%
		overflow hidden
		padding 11px 0
		position relative
		.projects-slide
			min-height 100%
			display none
			&.ProjectsSelected
				display block
			& > div
				position relative
				float left
				width 24.3448276%
				margin-left .87356323%
				margin-bottom 9px
				height 265px
				overflow hidden
				& > a
					display inline-block
					border 6px solid transparent
					width 100%
					padding 0
					height inherit
					margin 0
					text-decoration none
					color #fff
					box-sizing content-box
					& > img
						width 100%
						min-width 100%
						height inherit
				a
					&:after
						content ""
						position absolute
						z-index 5
						background url(../img/icon-photo.png) no-repeat
						width 32px
						height 27px
						left 50%
						margin-left -16px
						top 58%
						display none
			div
				&:hover
					overflow visible
					a
						border 6px solid #2aaf62
						background #2aaf62
						z-index 3
						margin 0
						padding 0
		& > div
			position relative
			&.visible-elem
				display block
	.swiper-slide
		float left
	.catalog-projects-wrapper
		&:after
			content ""
			display table
			clear both
.toogle-sniper
	display block
	position absolute
	width 106px
	height 36px
	//right 50%
	margin-right -53px
	*
		display inline-block
		cursor pointer
		background url(../img/icons-return.png) no-repeat
	&.sniper-projects-catalog
		top 120px
		right 45%
		.albom-sniper
			background-position -56px -1px
	&.sniper-projects-albom
		top 166px
		.catalog-sniper
			background-position 0 -37px
.catalog-sniper
	width 39px
	height 36px
	margin-right 20px
.albom-sniper
	width 46px
	height 35px
.toogle-sniper.sniper-projects-albom .albom-sniper,.toogle-sniper.sniper-projects-catalog .catalog-sniper
	cursor default
.toogle-sniper.sniper-projects-albom .catalog-sniper:hover,.toogle-sniper.sniper-projects-catalog .catalog-sniper
	background-position 0 0
.toogle-sniper.sniper-projects-albom .albom-sniper,.toogle-sniper.sniper-projects-catalog .albom-sniper:hover
	background-position -56px -38px

.filter-projects,.filters-catalog
	text-align center
	margin 70px 0 90px
	font-size 0
.filter-projects li,.filters-catalog li
	display inline-block
	position relative
.filter-projects
	li
		&:after
			position absolute
			width 100%
			height 100%
			top 0
			left 0
			background rgba(255,255,255,.7)
.filter-projects a,.filters-catalog a
	display block
	text-decoration none
	font-size 15px
	padding 22px 38px
	color #4C4A4A
	background #fafafa
	border-top 1px solid #f2f2f2
	border-bottom 1px solid #f2f2f2
.filter-projects a.selected,.filter-projects a:hover,.filters-catalog a.selected,.filters-catalog a:hover
	background #14a751
	color #fff
	border-top 1px solid #14a751
	border-bottom 1px solid #14a751
#projects .catalog-projects .projects-slide div:first-child, #projects .catalog-projects .projects-slide div:nth-child(5)
	margin-left 0
#projects .catalog-projects .projects-slide div:nth-child(4) a, #projects .catalog-projects .projects-slide div:nth-child(8) a
	border-right none
	padding-right 0
#CatalogContainer #list>article .preview>h2,#projects .catalog-projects .projects-slide>div a span
	font-size 2.5em
	font-family Impact,Charcoal,'Trebuchet MS',Helvetica,sans-serif
	position absolute
	width 100%
	text-align center
	left 0
	top 40%
	display none
	color #fff
#projects .catalog-projects .projects-slide>div:hover a span,#projects .catalog-projects .projects-slide>div:hover a:after
	display block
#catalog-projects-full
	position relative
	overflow hidden
	display none
	margin-top 65px
#wrapper-catalog-projects-nav
	position absolute
	top 80px
	height 281px
	width 800px
	margin 0 auto
	left 0
	right 0
	.photo-prev
		left -28px
	.photo-next
		right -32px
.albom
	width 100%
	background #f4f4f4
	border-top 5px solid #f0f1f1
	border-bottom 5px solid #f0f1f1
	padding-bottom 70px
.project-albom
	display none
	position relative
	ul
		&.info
			text-align center
			margin 65px 0 0
			li
				display inline-block
				text-align center
				margin 0 55px
				color #19a955
				font-size 1.167em
				vertical-align text-top
				span
					display block
				a
					color #19a955
					&.photo
						width 46px
						height 46px
						display block
						border 2px solid #19a955
						box-shadow 0 2px 3px #bebebe
						border-radius 50%
						overflow hidden
						margin-left 20px
						float right
						img
							width 100%
				& > div
					float left
	& > a
		display inline-block
		width 100px
		height 20px
		border 1px solid #000
		margin 10px 20px
.wrapper-albom
	width 100%
	padding 43px 0 55px
	margin 25px auto
	background url(../img/monitor-bg.jpg) top center no-repeat
	position relative
	.bx-wrapper
		height 428px
		overflow hidden
	& > ul
		position relative
	li
		display block
#wrapper-catalog-projects-nav>a,.catalog-projects>a
	position absolute
	width 28px
	height 281px
	top 282px
	display block
	background url(../img/projects/album-nav.png) no-repeat
	-webkit-filter drop-shadow(0 0 15px #e2e2e2)
	z-index 103
.catalog-projects
	a
		top 50%
		margin-top -140px
	.catalog-projects-right
		right 10px
	.catalog-projects-left
		left 10px
#full-products .catalog-prev, #wrapper-catalog-projects-nav .photo-prev, .wrapper-albom .photo-prev
	background-position 0 0
#full-products .catalog-prev, .wrapper-albom .photo-prev
	left 14px
#full-products .catalog-prev:hover, #wrapper-catalog-projects-nav .photo-prev:hover, .catalog-projects .catalog-projects-left:hover, .wrapper-albom .photo-prev:hover
	background-position 0 -281px
#full-products .catalog-next, #wrapper-catalog-projects-nav .photo-next, .catalog-projects .catalog-projects-right, .wrapper-albom .photo-next
	background-position -87px 0
#full-products .catalog-next, .wrapper-albom .photo-next
	right -35px
#full-products .catalog-next:hover, #wrapper-catalog-projects-nav .photo-next:hover, .catalog-projects .catalog-projects-right:hover, .wrapper-albom .photo-next:hover
	background-position -87px -281px
.project-slideshow
	width 682px
	margin 0 auto
	height 426px
	overflow hidden
.project-slideshow img, .wrapper-albom li img
	width 100%
	max-width 100%
	display block
	height 428px
.albom-catalog-img
	text-align center
	padding-bottom 10px
	a
		width 123px
		height 77px
		display inline-block
		box-shadow 0 2px 8px #d4d4d4
		position relative
		margin 0 7px 5px
		img
			width 100%
			min-width 100%
			display block
			height 100%
#CatalogContainer>article .preview:after,.albom-catalog-img a:after
	content ""
	position absolute
	width 100%
	height 100%
	top 0
	left 0
	background rgba(255,255,255,.4)
	background -moz-radial-gradient(center,ellipse cover,rgba(255,255,255,.3) 0,rgba(0,0,0,.7) 100%)
	background -webkit-gradient(radial,center center,0,center center,100%,color-stop(0,rgba(255,255,255,.3)),color-stop(100%,rgba(0,0,0,.7)))
	background -webkit-radial-gradient(center,ellipse cover,rgba(255,255,255,.3) 0,rgba(0,0,0,.7) 100%)
	background -o-radial-gradient(center,ellipse cover,rgba(255,255,255,.3) 0,rgba(0,0,0,.7) 100%)
	background -ms-radial-gradient(center,ellipse cover,rgba(255,255,255,.3) 0,rgba(0,0,0,.7) 100%)
	background radial-gradient(ellipse at center,rgba(255,255,255,.3) 0,rgba(0,0,0,.7) 100%)
	filter unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=1)")
.albom-catalog-img a.cycle-pager-active,.albom-catalog-img a:hover
	outline #2aaf61 solid 2px
.albom-catalog-img a.cycle-pager-active:after,.albom-catalog-img a:hover:after
	z-index -1
#CatalogContainer
	width 100%
	overflow hidden
#products
	display block
	overflow hidden
	padding 1px 0
	& > article
		float left
		width 25%
		position relative
		cursor pointer
		&:hover
			.special-offer
				top 10px
				right 10px
		.special-offer
			*
				display block
			& > span
				background red
				-moz-transform rotate(-45deg)
				-webkit-transform rotate(-45deg)
				-o-transform rotate(-45deg)
				transform rotate(-45deg)
				position relative
				left -100px
				top -60px
				width 150%
				height auto
				display inline-block
				font-size 16px
				color #fff
				margin 20px 0 0 0
				padding 20px 0 5px 0
				text-align center
				span
					font-weight 600
					margin-top 50px
	article
		&:after
			position absolute
			width 100%
			height 100%
			top 0
			left 0
			z-index 4
			content ""
			background url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…hlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=")
			background -moz-radial-gradient(center,ellipse cover,rgba(117,117,117,.2) 0,rgba(63,63,63,.66) 100%)
			background -webkit-gradient(radial,center center,0,center center,100%,color-stop(0,rgba(117,117,117,.2)),color-stop(100%,rgba(63,63,63,.66)))
			background -webkit-radial-gradient(center,ellipse cover,rgba(117,117,117,.2) 0,rgba(63,63,63,.66) 100%)
			background -o-radial-gradient(center,ellipse cover,rgba(117,117,117,.2) 0,rgba(63,63,63,.66) 100%)
			background -ms-radial-gradient(center,ellipse cover,rgba(117,117,117,.2) 0,rgba(63,63,63,.66) 100%)
			background radial-gradient(ellipse at center,rgba(117,117,117,.2) 0,rgba(63,63,63,.66) 100%)
			filter unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr='#33757575', endColorstr='#a83f3f3f', GradientType=1)")
		.preview-helper
			position absolute
			top 0
			bottom 0
			left 0
			right 0
			border 7px solid #dae6e8
			z-index 10
			&:hover
				outline #298a9b solid 1px
				border 10px solid #2aaf62
				z-index 11
			img
				float left
				width 100%
				min-width 100%
		.price
			bottom 20px
			right 20px
			color #fff
			font-size 30px
			font-family Impact,Charcoal,'Trebuchet MS',Helvetica,sans-serif
		h2
			color #fff
			text-align center
			width 100%
			top 40%
			text-transform uppercase
			font-size 2em
			font-weight bold
		.preview
			.price
				bottom 19px
				display block
				right 28px
				font-size 2.25em
				color #fff
				font-family Impact,Charcoal,'Trebuchet MS',Helvetica,sans-serif
#products .price,#products .special-offer,#products h2
	position absolute
	z-index 7
#full-products .special-offer, #products > article .special-offer
	width 150px
	height 150px
	display block
	overflow hidden
	left 7px
	top 7px
	z-index 7
#full-products
	width 100%
	height 100%
	text-align center
	z-index 190
	position fixed
	top 0
	left 0
	display none
	article
		width 100%
		padding 2.245% 2.013% 0
		margin-bottom 2.622%
		box-sizing border-box
		background #f9fefa
		position relative
		text-align left
		.photo
			width 51.17%
			margin-right 5.285%
			position relative
			overflow hidden
			.special-offer
				width 150px
				z-index 100
				position absolute
				top 0
				left 0
				span
					width 170px
					color #fff
					top -35px
					left -75px
					margin 20px
					height auto
					padding 40px 0 10px
					text-align center
					box-sizing border-box
	.product-slide
		img
			width 100%
		&__text
			position absolute
			text-align center
			color #fff
			width 100%
			top 88%
			text-transform uppercase
			font-size 2em
			font-weight 700
			text-shadow 1px 1px 2px #000,0 0 1em #fff
	.owl-theme
		.owl-controls
			margin-top 10px
			text-align center
			.owl-pagination
				position absolute
				bottom 0
				width 100%
				text-align center
			.owl-page
				display inline-block
				zoom 1
				span
					display block
					width 12px
					height 12px
					margin 5px 7px
					filter Alpha(Opacity=50)
					opacity .5
					-webkit-border-radius 20px
					-moz-border-radius 20px
					border-radius 100%
					background #12af58
					box-shadow 1px 1px 1px #000,1px 0 1px transparent
			.owl-buttons
				div
					position absolute
					top 50%
					width 44px
					height 44px
					margin-top -22px
					cursor pointer
					-moz-background-size 27px 44px
					-webkit-background-size 27px 44px
					background center no-repeat #12af58
					font-size 2em
					border-radius 50%
					color #fff
					padding-top 11px
					box-shadow 1px 1px 1px #000,1px 0 1px transparent
				.owl-prev
					background-image url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org…9.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
					left 10px
					right auto
				.owl-next
					background-image url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org…L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
					right 10px
					left auto
	.special-offer
		& > span
			background red
			-moz-transform rotate(-45deg)
			-webkit-transform rotate(-45deg)
			-o-transform rotate(-45deg)
			transform rotate(-45deg)
			position relative
			left -110px
			top -54px
			width 150%
			height 99px
			bottom 55px
			display inline-block
			font-size 16px
			color #fff
			margin 20px 0 0 20px
			text-align center
	#helper-full-products
		*
			text-align left
		article
			width 100%
			padding 2.245% 2.013% 0
			margin-bottom 2.622%
			box-sizing border-box
			background #f9fefa
			position relative
			text-align left
			.photo
				width 51.17%
				margin-right 5.285%
				position relative
				overflow hidden
				& > div
					width 100%
					position relative
					img
						width 100%
						max-width 100%
				& > .special-offer
					width 150px
					z-index 100
					position absolute
					top 0
					left 0
					& > span
						width 170px
						color #fff
						top -35px
						left -75px
						margin 20px
						height auto
						padding 40px 0 10px 0
						text-align center
						box-sizing border-box
					span
						span
							display block
							font-weight 600
				& > p
					margin-top 20px
					margin-left 1px
				& > .variants
					margin-left 4.59%
					li
						display inline-block
						margin-right 17px
						border 2px solid #19a955
						border-radius 50%
						overflow hidden
						width 46px
						height 46px
						cursor pointer
						position relative
						z-index 3
						a
							width 46px
							height 46px
							display block
							border 2px solid #19a955
							box-shadow 0 2px 3px #bebebe
							border-radius 50%
							overflow hidden
						img
							width 100%
							height 100%
							display block
						&:after
							position absolute
							width 100%
							height 100%
							top 0
							left 0
							content ""
							z-index 5
							background url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…hlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=")
							background -moz-radial-gradient(center,ellipse cover,rgba(117,117,117,.2) 0,rgba(63,63,63,.66) 100%)
							background -webkit-gradient(radial,center center,0,center center,100%,color-stop(0,rgba(117,117,117,.2)),color-stop(100%,rgba(63,63,63,.66)))
							background -webkit-radial-gradient(center,ellipse cover,rgba(117,117,117,.2) 0,rgba(63,63,63,.66) 100%)
							background -o-radial-gradient(center,ellipse cover,rgba(117,117,117,.2) 0,rgba(63,63,63,.66) 100%)
							background -ms-radial-gradient(center,ellipse cover,rgba(117,117,117,.2) 0,rgba(63,63,63,.66) 100%)
							background radial-gradient(ellipse at center,rgba(117,117,117,.2) 0,rgba(63,63,63,.66) 100%)
							filter unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr='#33757575', endColorstr='#a83f3f3f', GradientType=1)")
.info
	width 38.926%
	h1
		font-size 2.75em
		color #000
		margin-bottom 20px
	h2
		font-size 2.167em
		color #b7b7b7
		margin-bottom 20px
	h3
		margin-bottom 20px
		font-size 1.167em
	& > p
		color #474747
		font-size 1.167em
		margin-bottom 30px
	.characteristics
		width 63%
		margin-right 1%
		li
			width 100%
			display block
			margin-bottom 4px
			font-size 1.167em
			*
				display inline-block
			p
				color #12af58
				margin-right 17px
			span
				color #6f6d6e
	.price
		width 35.87%
		text-align right
		span
			font-size 1.75em
			color #000
			font-weight 600
			span
				font-size 2.143em
				display block
				margin-bottom 11px
	.instruction
		h3
			margin-top 20px
		ul
			ul
				margin-bottom 18px
				li
					display inline-block
					vertical-align text-top
				&.pdf
					li
						a
							display block
							width 46px
							height 49px
							background url("../img/catalog/in/pdf-icon.jpg") top left no-repeat
							img
								width 100%
								max-width 100%
a
	&.close
		display block
		width 39px
		height 39px
		background url("../img/catalog/in/close.jpg") top left no-repeat
		position absolute
		top 2.245%
		right 2.013%
.order
	padding 12px 31px 11px
	background #14a651
	color #fff
	position absolute
	text-transform uppercase
	border-radius 4px
	font-size 1.75em
	text-decoration none
	bottom 2.622%
	right 2.013%
& > a
	width 28px
	height 281px
	display inline-block
	vertical-align middle
	background url(../img/projects/album-nav.png) no-repeat
	-webkit-filter drop-shadow(0 0 15px #e2e2e2)
	z-index 98
	position absolute
	top 50%
	margin-top -140px
	&.catalog-prev
		left 3%
	&.catalog-next
		background-position -87px 0
		right 10%
#products .special-offer,#products>span
	display none
#products article:nth-child(10n+1) .preview .price,#products article:nth-child(10n+6) .preview .price
	font-size 3.25em
#helper-full-products
	display -moz-inline-box
	display inline-block
	height 100%
	width 0
	vertical-align middle
	text-align left
	zoom 1
//display inline
#wrapper-full-products
	width 83.86%
	z-index 98
	max-width 1216px
	border 2px solid #d3d3d3
	display -moz-inline-box
	display inline-block
	vertical-align middle
	background #fff
	zoom 1
	//display inline
	position relative
	min-height 565px
#full-products article .photo>.variants li.cycle-pager-active:after,#full-products article .photo>.variants li:hover:after
	background 0 0
#full-products article .info h3, #full-products article .photo div .variants li:first-child
	color #b4b4b4
	font-weight 600
#full-products article .order,#full-products article a.close
	display none
#full-products .order,#full-products a.close
	z-index 101
#close-wrapper
	width 100%
	height 100%
	position fixed
	top 0
	left 0
	background rgba(255,255,255,.7)
	z-index 1
#map
	height 550px
	width 100%
	position relative
	margin-top 70px
.swiper-container-contacts
	width 461px
	border 1px solid #ebebeb
	position absolute
	top 0
	bottom 0
	right 1px
	overflow hidden
	z-index 1
	background rgba(138,168,158,.75)
	a
		position absolute
		left 0
		right 0
		display block
		margin 4px auto
		width 79px
		height 13px
		background url(../img/contacts-navi-icon.png) top left no-repeat
		z-index 23
	.swiper-wrapper
		position relative
		color #fff
		h2
			span
				display inline-block
				vertical-align middle
				line-height 51px
				margin-left 13px
		i
			vertical-align text-top
	.swiper-slide
		height auto
		padding 18px 23px 19px 40px
		&:hover
			border 1px solid #ebebeb
			padding 17px 23px 18px 40px
			border-left none
			border-right none
			width 100%
			background rgba(138,168,158,.75)
		&.title-slide
			border none
			background 0 0
			height 48px
			padding 18px 23px 19px 40px
			&.cont-savewood
				i
					width 37px
					height 51px
					display inline-block
					background url(../img/phone-icon.png) top left no-repeat
			&.cont-part
				i
					width 58px
					height 46px
					display inline-block
					background url(../img/parth-icon.png) top left no-repeat
		&:first-child
			margin 20px 0 30px 0
		&:last-child
			margin 0 0 20px 0
		h2
			font-size 3em
			display inline-block
			margin 0
			padding 0
		.phone
			margin 4px 0
		.adress
			font-size 1.2em
			line-height 1.75em
	& > div
		padding 20px 0
a
	&.contacts-prev
		top 0
		background-position 0 0
		&:hover
			background-position -79px 0
	&.contacts-next
		background-position 0 -13px
		bottom 0
		&:hover
			background-position -79px -13px
.swiper-container-contacts .swiper-slide .phone,.swiper-container-contacts .swiper-slide h3
	font-size 2.1em
	line-height 1em
	margin 0
	padding 0
/* БЛОК КОНТАКТЫ */
#contacts,.contact
	background url(../img/bg-footer-back.jpg) bottom center no-repeat
	background-size contain
.contact
	background-size cover
	& > div
		ul
			text-align center
			padding 48px 21px 27px
			li
				display inline-block
				a
					width 37px
					height 51px
					display block
					background url(../img/phone-icon.png) top left no-repeat
		& > div
			text-align center
			color #fff
			padding-bottom 38px
			p
				margin-top 16px
		h2
			font-size 2.5em
		p
			font-size 1.5em
.contact,.footer__block
	width 100%
	position relative
.contact:after,.footer__block:after
	content ""
	width 2px
	height 100%
	top 0
	bottom 0
	left 0
	background #16401f
	position absolute
.contact>div,.footer__block
	background url(../img/bg-footer-top.png) bottom center no-repeat
	background-size cover
.contact-form
	background #dae6e8
	padding 20px 0 25px
	.contact-info
		text-align center
		font-size 1.25em
		&.errors
			color #C30
		&.success
			color #00a651
		span
			padding 0 10px
			display block
	& > div
		width 90%
		max-width 924px
		margin 0 auto
	p
		margin 0
	textarea
		height 17em
	button
		&:first-child
			margin-right 3.8548753%

.contact-form
	input,
	textarea
		font-size 1.167em
		width 100%
		max-width 100%
		border 1px solid #edeeee
		border-top 2px
		border-bottom none
		padding 14px 20px 18px
		-webkit-appearance none
	button,
	input,
	textarea
		border-radius 3px
		box-sizing border-box
		margin-top 23px
		box-shadow 0 1px 0 1px #cfdadc,0 2px 0 1px #cfdadc,0 3px 0 1px #cfdadc
	button,
	input[type=submit]
		border 1px solid #14a751
		font-size 1.75em
		text-transform uppercase
		padding 10px 0 11px
		display block
		text-align center
		background #5b8b60
		width 48.0725624%
		color #fff
		&:hover
			border-color #0f9eb8
			background #14a751
	.select-input,
	button.select-input
		border-radius 3px
		box-sizing border-box
		margin-top 23px
		box-shadow 0 1px 0 1px #cfdadc,0 2px 0 1px #cfdadc,0 3px 0 1px #cfdadc
		font-size 1.167em
		background #fff
		width 100%
		max-width 100%
		border 1px solid #edeeee
		border-top 2px
		color #222
		border-bottom none
		display inline-block
		padding 14px 20px 18px
		-webkit-appearance none
		text-transform none
.footer__block
	padding 0 40px
	background-size cover
	p
		//background url(../img/footer-logo.png) 5px 109px no-repeat
		color #fff
		font-size 15px
		padding 0
	.footer__nav
		margin 10px 0
		li
			display inline-block
			margin-right 4.47%
			a
				text-transform uppercase
				color #fff
				text-decoration none
				font-size 1.167em
				&:hover
					color #21a757
	.footer__logo
		display inline-block
		padding-left 96px
		margin 10px 0
		&:before
			background url("../img/footer-logo.png") 0 0 no-repeat
			content ''
			width 76px
			height 71px
			display inline-block
			margin 5px
			position absolute
			margin-left -96px
		img
			max-height 60px
.copyright
	background url("../img/bg-footer-back.jpg") bottom center no-repeat
	background-size cover
	p
		font-size 12px
		margin 10px auto
		text-align center
		color #fff
#contacts
	& > p
		background rgba(0,0,0,.3)
		text-align center
		color #fff
		padding 20px 0 18px
		font-size 1.167em
.ir
	background-color transparent
	border 0
	overflow hidden
	&:before
		content ""
		display block
		width 0
		height 150%
.hidden
	display none!important
	visibility hidden
.visuallyhidden
	border 0
	clip rect(0 0 0 0)
	height 1px
	margin -1px
	overflow hidden
	padding 0
	position absolute
	width 1px
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus
	clip auto
	height auto
	margin 0
	overflow visible
	position static
	width auto
.invisible
	visibility hidden
.fLeft
	float left
.fRight
	float right
.clearfix:after,.clearfix:before
	content " "
	display table
.clearfix
	&:after
		clear both

@media (min-width:1060px)
	.toogle-sniper
		margin 0
		right 9%
@media (min-width:1630px)
	#full-products>a.catalog-prev
		left 10%
		print
			*
				background 0 0!important
				color #000!important
				box-shadow none!important
				text-shadow none!important
@media (min-width:1420px)
	.toogle-sniper
		right 6%
@media (max-height:768px)
	#kachestvo
		& > div
			position absolute
			width 100%
			bottom 0
		section
			header
				&.full-title
					text-align center
					overflow hidden
					width 100%
					padding-top 67px
					h1
						font-size 30px
						color #14a751
						text-align center
@media (max-width:767px)
	#navigation
		&.navbar
			background none
		&.show-on-scroll
			top 0
		button
			color #fff
	#about
		.swiper-button-prev,
		.swiper-button-next
			bottom 10px
			top auto
			height 60px
			width 35px
			margin 0
			background-position 0 0
			&:hover
				background-position 0 0
				opacity .7
		.swiper-button-next
			background url("../img/mobile/arrow-r.png") no-repeat 0 0
		.swiper-button-prev
			background url("../img/mobile/arrow-l.png") no-repeat 0 0
		#news,
		#technology,
		#preimushestva
			article
				width 100%
		#preimushestva
			ul
				width 100%
				li
					width 48%
					margin 0
					padding 0
					background-size 10%
					&:nth-child(odd)
						padding-right 9%
					&:nth-child(even)
						padding-left 9%
					h2
						margin-top 0
		.swiper-news-content
			.swiper-wrapper
				.swiper-slide
					p
						padding .5%
		#technology
			p
				padding 5px
		.navi-about
			display none
	#products
		article
			width 50%
			h2
				font-size 1.5em
	#projects
		.catalog-projects
			.projects-slide
				div
					width 48%
					height 150px
		.project-slideshow
			width 100%
			height auto
	.toogle-sniper
		left 40%
		&.sniper-projects-catalog
			top 120px
	.wrapper-albom
		width 100%
		padding 0
		margin 10px 0
		background none
	.filter-projects, .filters-catalog
		margin 70px 0 0 0
		font-size 0
	.swiper-container-contacts
		width 100%
		a
			display none
	.full-title
		h1:after,h1:before
			width 50%
	#float_navigation
		display none
	.footer
		&__logo
			margin: 10px auto;
			padding: 0;
			position: absolute;
	.footer__block
		padding 0 0 4px