section#about.swiper-container.swiper-container-about.crowded.slide.sticky
    .swiper-wrapper
        #info.swiper-slide(data-hash='about')
            article
                h1
                    span Мы - это
                    |  SAVEWOOD
                p
                    | Торговый дом Savewood -
                    br
                    | производство и продажа изделий из древесно-полимерного композита высочайшего качества с использованием новейших технологий химической промышленности
        #technology.swiper-slide(data-hash='technology')
            article.shadow-tabs
                h1
                    span Технологии
                img(src='img/about/content/ekstruder.jpg', alt='')
                p
                    | Уникальность технологии изготовления древесно-полимерного композита состоит из возможности совмещения всех полезных свойств дерева и полимеров. Она позволяет сделать практически идеальный строительный материал, отвечающий всем требованиям современного мира. Он удобен всем, кто сталкивается с ним на различных этапах применения.
        #news.swiper-slide(data-hash='news')
            article.shadow-tabs
                h1
                    span Новости и акции
                .swiper-container.swiper-news-content
                    .swiper-wrapper
                        .swiper-slide(data-hash='mosbuild015')
                            span.news__image
                                img(src='img/about/content/sw-mosbuild2015.jpg', alt='')
                            time(datetime='') 22 / 04 / 2015
                            h2 Savewood на выставке MosBuild-2015!
                            .news__content
                                p
                                    | Компания Savewood приняла участие в неделе Строительства и Архитектуры, которая прошла в рамках выставки MosBuild-2015 с 14 по 17 апреля в ЦВК «Экспоцентр».
                                    br
                                    | MosBuild – это крупнейшая международная строительная и интерьерная выставка. Традиционно именно на ней ведущие мировые бренды в сфере строительных, отделочных и декоративных материалов демонстрируют свои новые коллекции. Наша компания не стала исключением и помимо традиционного ассортимента, порадовала посетителей новинками.
                                    a(href='https://plus.google.com/b/109660831573610567611/photos/+SavewoodRus/albums/6140484214378339969', target='_blank') Фотографии с мероприятия
                        .swiper-slide(data-hash='vesna2015')
                            span.news__image
                                img(src='img/about/content/sw-new-assortment.jpg', alt='')
                            time(datetime='') 07 / 04 / 2015
                            h2 Весенние новинки
                            .news__content
                                p
                                    | Уважаемые посетители! У нас обновился ассортимент продукции.
                                    br
                                    | 									Мы рады представить новый вид бесшовной террасной доски с текстурой дерева - SW Padus, заборный профиль - SW Agger и профиль для ступеней - SW Radix. Эти профили обладают всеми характеристиками ассортиментной линейки Savewood. Установка забора с заборным профилем SW Agger будет занимать у вас считанные минуты, а с профилем SW Radix, ваши ступени будут жить вечно. Модели доступны в пяти цветовых вариантах.
                        .swiper-slide(data-hash='news1')
                            span.news__image
                                img(src='img/about/content/gardenbuild-pic-320-2sw-lagi.jpg', alt='')
                            time(datetime='') 01 / 04 / 2015
                            h2 Savewood - участник выставки «GARDEN BUILD»
                            .news__content
                                p
                                    | Компании Savewood и 4SIS приглашают вас посетить наш совместный стенд на международной выставке ландшафтной архитектуры, садового строительства, дизайна открытых пространств и интерьеров GARDEN BUILD.Выставка пройдет в Москве в
                                    strong МВЦ «КРОКУС ЭКСПО» с 1 по 4 апреля 2015 года (павильон №2, зал №9)
                                    |  Ждем вас на нашем стенде А380 в павильоне № 2, зал 9. Подробнее о выставке
                                    noindex
                                        a(href='http://www.garden-build.ru/garden/exhibition/', target='_blank') тут
                                    | , а зарегистрироваться
                                    noindex
                                        a(href='http://www.flowers-expo.ru/garden-build/informpismo.html', target='_blank') здесь
                                    | .
                                p
                                    a(href='https://plus.google.com/b/109660831573610567611/photos/+SavewoodRus/albums/6133199277900120369', target='_blank') Фотографии с выставки
                        .swiper-slide(data-hash='news2')
                            span.news__image
                                img(src='img/about/content/derevyanniy-dom2015.jpg', alt='')
                            time(datetime='') 26 / 03 / 2015
                            h2 SAVEWOOD НА ВЫСТАВКЕ «ДЕРЕВЯННЫЙ ДОМ»
                            .news__content
                                p
                                    | Уважаемые посетители! Компания Savewood  совместно с компанией WOODENHOUSE и компанией Кватросис приняла участие в выставке «ДЕРЕВЯННЫЙ ДОМ», которая проходила в Москве в МВЦ «КРОКУС ЭКСПО» с 26 по 29 марта 2015 года.
                                p
                                    a(href='https://plus.google.com/b/109660831573610567611/photos/+SavewoodRus/albums/6133206560642538065', target='_blank') Фотографии с выставки
                                    | .
                        .swiper-slide(data-hash='news3')
                            span.news__image
                                img(src='img/about/content/news-active.jpg', alt='')
                            time(datetime='') 08 / 03 / 2015
                            h2 Успей купить по старой цене
                            .news__content
                                p
                                    | Уважаемые посетители! Как видите, мы немногие и тех, кто не повышал цены. Это сделано для того, чтобы Вы успели приобрести нашу продукцию по ценам 2014 года.
                    span.news-prev
                        i.glyphicon.glyphicon-chevron-left
                    span.news-next
                        i.glyphicon.glyphicon-chevron-right
        #preimushestva.swiper-slide(data-hash='preimushestva')
            article
                h1
                    span Преимущества изделий из ДПК
                ul
                    li.fire
                        h2 Огнестойкий
                        p
                            | Пожаробезопасен, не горит и не является источником пламени. Соответствует европейским стандартам
                    li.installation
                        h2 Лёгкость монтажа
                        p Вы сами сможете монтировать наш материал, обладая минимумом строительных навыков
                    li.water-resistant
                        h2 Влагоустойчивый
                        p
                            | Рекомендуется для применения на открытом воздухе, не впитывает влагу, не подвержен гниению
                    li.appearance
                        h2 Идеальный внешний вид
                        p
                            | Со временем обычное дерево теряет свои качества и внешний вид, что нельзя сказать о ДПК
                    li.clear
                        h2 Экологически чистый
                        p
                            | Является экологически чистым и абсолютно безопасным материалом,не содержит токсичных материалов и пригоден для повторного использования
                    li.vermin
                        h2 Не подвержен воздействию вредителей
                        p
                            | Материал из ДПК устойчив к разрушительному воздействию древесных червей, грибков и паразитов
    .navi-about
    .swiper-button-prev
    .swiper-button-next