// JS sripts
script(src='js/vendor/jquery-1.10.1.min.js')
script(src='js/vendor/modernizr-2.6.2.min.js')
script(type='text/javascript', src='js/vendor/jquery.queryloader2.js')
script(type='text/javascript', src='js/vendor/waypoints.min.js')
script(type='text/javascript', src='js/vendor/plax.js')
//- Latest compiled and minified JavaScript
script(src='js/vendor/bootstrap.min.js')
script(type='text/javascript', src='js/vendor/bootstrap-select.min.js')
//- parallax
script(type='text/javascript', src='js/vendor/parallax.js')
//- свипер
//- <script type="text/javascript" src="js/vendor/idangerous.swiper-2.0.min.js"></script>
script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/Swiper/3.0.5/js/swiper.min.js')
//- слайдер изображений, проекты
script(type='text/javascript', src='js/vendor/jquery.cycle2.min.js')
script(type='text/javascript', src='js/vendor/jquery.cycle2.carousel.min.js')
script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js")
//- map
script(type='text/javascript', src='http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU')
//- раб
script(type='text/javascript', src='js/main.js')