head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
	title
		| Террасная доска, сайдинг, ступени, заборы, декоративные ограждения  и другие изделия из древесно-полимерного композита
	meta(name='description', content='Производство и продажа террасной доски, сайдинга и других изделий из композитных материалов дпк в Москве и Санкт-Петербурге')
	meta(name='keywords', content='террасная доска, доска ДПК, композитная доска, ДПК, древесно-полимерный композит, композитная террасная доска, террасная доска ДПК, декинг, доска декинг, отделочные материалы, сайдинг, террасная доска из пвх, ПВХ доска, забры, ступени, декоративные ограждения')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	link(rel='icon', href='/favicon.ico', type='image/x-icon')
	link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
	link(rel='stylesheet', href='css/vendor/normalize.css')
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css" media="none" onload="if(media!='all')media='all'")
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.0.5/css/swiper.min.css')
	//- Latest compiled and minified CSS
	link(rel='stylesheet', href='css/vendor/bootstrap.min.css')
	link(rel='stylesheet', href='css/vendor/bootstrap-select.min.css')
	//link(rel='stylesheet', href='//cdn.callbackhunter.com/widget/tracker.css')
	link(rel='stylesheet', href='css/main.css')