section#promo.slide.hidden-xs
    .promo-contact
        a.promo-contact__phone.call_phone_1(href='tel:+74955072110', itemprop='telephone', title='Позвонить')
            | +7 495 507 21 10
        br
        a.promo-contact__phone(href='tel:+78124959055', itemprop='telephone', title='Позвонить')
            | +7 812 495 90 55
        br
        a.promo-contact__link(href='#callbackhunter')
            | Перезвонить в течение минуты?
    //-
        <div class="exhibition">
        <div class="exhibition__text">Участник
        <a class="exhibition__link" href="http://www.mosbuild.com/Register-Now/WeekTwo?partner=savewood-ru" target="_blank" alt=" Регистрация на MosBuild">
        <img src="img/mosbuild.png" alt=" Страница компании на MosBuild"/>
        </a>
        </div>
        </div>
    .promo__info-block
        .info-block__logo
            img(src='img/preload/pre-logo.png', alt='')
        .info-block__title
            img(src='img/preload/pre-logo2.png', alt='')
        .info-block__desc
            span
                | Террасная доска, сайдинг и другие изделия из древесно-полимерного композита
        .info-block__buttons
            a.hellow(href='#info')
                | смотреть
                br
                | сайт
            a.hellow1(href='#catalog')
                | перейти
                br
                | в каталог
            a.hellow2(href="#news")
                | новая
                br
                | точка
                br
                | продаж
    .cd-background-wrapper
        .overlay-bg
        figure.cd-floating-background
            img(src='img/preload/LES.jpg', alt='image-1')
            img(src='img/preload/cloud_2.png', alt='image-2')
            img(src='img/preload/cloud_4.png', alt='image-3')
            img(src='img/preload/ARKA.png', alt='image-1')