section#servise.slide
	article
		header.full-title
			h1.green-priz
				span Сервис
		.service-list.col-xs-12
			.row
				span.col-xs-12.col-md-6.animated
					i.proekt
					h2 Проектирование
					p
						| Изготовление эскизов, технического проекта с описанием всех основных технико-экономических показателей и  цветной компьютерной модели в 3D формате
				span.col-xs-12.col-md-6.animated
					i.montage
					h2 Монтаж
					p
						| Монтаж любой сложности с квалифицированной бригадой монтажников, выполнивших ни один десяток объектов
			.row
				span.col-xs-12.col-md-6.animated
					i.montazh
					h2 Выезд замерщика
					p
						| Выездной специалист прибудет в удобное для вас время, произведёт замер и даст рекомендации по интересующим вас вопросам
				span.col-xs-12.col-md-6.animated
					i.dostavka
					h2 Доставка
					p Без задержек и опозданий в любой уголок Москвы и Московской области
			.row
				span.col-xs-12.col-md-6.animated
					i.individual__rules
					h2 ИНДИВИДУАЛЬНЫЕ УСЛОВИЯ ДЛЯ СПЕЦИАЛИСТОВ
					p
						| Мы сотрудничаем на максимально выгодных условиях с архитекторами, дизайнерами, проектировщиками, прорабами и другими специалистами
				span.col-xs-12.col-md-6.animated
					i.post__payment
					h2 Отсрочка платежа
					p
						| Мы всегда идем на встречу и готовы отсрочить платеж за предоставленный материал
			.row
				span.col-xs-12.col-md-6.animated
					i.storage
					h2 СЕЗОННОЕ ХРАНЕНИЕ
					p
						| До нового сезона вы можете хранить свою террасу или летнюю веранду у нас на складе, демонтаж может быть осуществлен нашими специалистами
				span.col-xs-12.col-md-6.animated
					i.post__service
					h2 ПОСТПРОДАЖНОЕ ОБСЛУЖИВАНИЕ
					p
						| Вы можете рассчитывать на обслуживания вашего объекта в течение всего времени после приобретения нашего материала