doctype html
html(lang="ru")
	include _header.jade
	body
		include _promo.jade
		include _about.jade
		// СЛАЙД КАЧЕСТВО
		section#quality.slide
			.container-fluid
				.row
					.col-md-12
						#window.clearfix
							.parallax.layer-middle(style='background-image: url(/img/quality/parallax-formula-middle.png);')
							.parallax.layer-front(style='background-image: url(/img/quality/parallax-formula-front.png);')
							h1 КАК МЫ ДОБИВАЕМСЯ ТАКОГО КАЧЕСТВА?
							h2 ИДЕАЛЬНАЯ ФОРМУЛА СМЕШИВАНИЯ КОМПОНЕНТОВ
							h2 ПРОИЗВОДСТВО ПО ЕВРОПЕЙСКИМ СТАНДАРТАМ КАЧЕСТВА
							h2 ПЕРСОНАЛ, ПРОШЕДШИЙ ОБУЧЕНИЕ НА ЗАРУБЕЖНЫХ ПРОИЗВОДСТВАХ
							h2 СЫРЬЁ И МАТЕРИАЛ ОТ ЛУЧШИХ МИРОВЫХ И ОТЕЧЕСТВЕННЫХ ПРОИЗВОДИТЕЛЕЙ
			.container
				.row
					.quality__list.col-xs-12
						.inf-formula.quality__item.animated.col-md-2.col-sm-4.col-xs-4
							.thumbnail
								img(src='img/quality/inf-icon-formula.svg', alt='', title='')
								.caption
									p Идеальная формула
						.plus.quality__item.animated.col-md-1.col-sm-4.col-xs-4
						.inf-standart.quality__item.animated.col-md-2.col-sm-4.col-xs-4
							.thumbnail
								img(src='img/quality/inf-icon-standart.svg', alt='', title='')
								.caption
									p Евростандарт производства
						.plus.quality__item.animated.col-md-2.visible-lg-inline-block.visible-md-inline-block.hidden-xs
						.inf-skill.quality__item.animated.col-md-2.col-sm-4.col-xs-4
							.thumbnail
								img(src='img/quality/inf-icon-skill.svg', alt='', title='')
								.caption
									p Обучение персонала
						.plus.quality__item.animated.col-md-1.col-sm-4.col-xs-3
						.inf-resurs.quality__item.animated.col-md-2.col-sm-4.col-xs-4
							.thumbnail
								img(src='img/quality/inf-icon-resurs.svg', alt='', title='')
								.caption
									p Лучшее сырье
				.row
					.col-md-12
						.result.animated
				.row
					.col-md-12
						img.img-responsive(src='img/quality/doska.png', alt='')
		section#kachestvo.slide.parallax.parallax-overlay(style='')
			h1.gradient Мы делаем качество доступным
		include _service.jade
		section#projects.slide
			header.full-title
				h1.green-priz
					span Проекты
			ul.filter-projects
				li
					a(href='#', data-filter='Ulmus') Ulmus
				li
					a(href='#', data-filter='Fagus') Fagus
				li
					a(href='#', data-filter='Cedrus') Cedrus
				li
					a(href='#', data-filter='Quercus') Quercus
				li
					a(href='#', data-filter='Salix') Salix
				li
					a(href='#', data-filter='Carpinus') Carpinus
				li
					a.selected(href='#', data-filter='*') Все
			.toogle-sniper.sniper-projects-catalog
				span.catalog-sniper
				span.albom-sniper.first-us
			.catalog-projects.clearfix
				a.catalog-projects-right(href='#')
				a.catalog-projects-left(href='#')
				.catalog-projects-wrapper
					.projects-slide.ProjectsSelected
						.Carpinus.project-item(data-filter='Carpinus')
							a(href='#', data-project='carpinus-1')
								img(src='img/projects/carpinus/carpinus-1/6.jpg', alt='')
								span Carpinus-1
						.Salix.project-item(data-filter='Salix')
							a(href='#', data-project='salix-1')
								img(src='img/projects/salix/salix-1/3.jpg', alt='')
								span Salix-1
						.Salix.project-item(data-filter='Salix')
							a(href='#', data-project='salix-2')
								img(src='img/projects/salix/salix-2/2.jpg', alt='')
								span Salix-2
						.Salix.project-item(data-filter='Salix')
							a(href='#', data-project='salix-3')
								img(src='img/projects/salix/salix-3/2.jpg', alt='')
								span Salix-3
						.Salix.project-item(data-filter='Salix')
							a(href='#', data-project='salix-4')
								img(src='img/projects/salix/salix-4/salix-f-4.jpg', alt='')
								span Salix-4
						.Fagus.project-item(data-filter='Fagus')
							a(href='#', data-project='fagus-1')
								img(src='img/projects/fagus/fagus-1/sw-fagus-ter_4.jpg', alt='')
								span Fagus-1
						.Cedrus.project-item(data-filter='Cedrus')
							a(href='#', data-project='cedrus-1')
								img(src='img/projects/cedrus/cedrus-1/sw-cedrus-1.jpg', alt='')
								span Cedrus-1
						.Ulmus.project-item(data-filter='Ulmus')
							a(href='#', data-project='ulmus-2')
								img(src='img/projects/ulmus/ulmus-2/sw-ulmus-ter-1.jpg', alt='')
								span Ulmus-2
					.projects-slide
						.Quercus.project-item(data-filter='Quercus')
							a(href='#', data-project='quercus-1')
								img(src='img/projects/quercus/quercus-1/2.jpg', alt='')
								span Quercus-1
						.Quercus.project-item(data-filter='Quercus')
							a(href='#', data-project='quercus-2')
								img(src='img/projects/quercus/quercus-2/1.jpg', alt='')
								span Quercus-2
						.Quercus.project-item(data-filter='Quercus')
							a(href='#', data-project='quercus-3')
								img(src='img/projects/quercus/quercus-3/4.jpg', alt='')
								span Quercus-3
						.Ulmus.project-item(data-filter='Ulmus')
							a(href='#', data-project='ulmus-1')
								img(src='img/projects/ulmus/ulmus-1/3.jpg', alt='')
								span Ulmus-1
			#catalog-projects-full
				article#project-carpinus-1.project-albom.project-carpinus-1.albom.clearfix
					header.full-title
						h1.green-priz
							span Carpinus-1
					.toogle-sniper.sniper-projects-albom
						span.catalog-sniper
						span.albom-sniper
					ul.info
						li.type
							span Тип:
							| 	Летняя веранда клуба
						li.material.clearfix
							div
								span Материал:
								a(href='#', data-catalog='SW-Carpinus-7') Carpinus
							a.photo.fRight(href='#', data-catalog='SW-Carpinus-7')
								img(src='img/projects/material.jpg', alt='')
						li.date
							span Дата реализации:
							time(datetime='2011-05-26') Август 2012
					.wrapper-albom.clearfix
						.project-slideshow.cycle-slideshow(data-cycle-log='false', data-index='1', data-cycle-fx='scrollHorz', data-cycle-timeout='0', data-cycle-pager='#adv-project-carpinus-1', data-cycle-pager-template="<a href='#' ><img src='{{src}}' width=20 height=20></a>")
							img(src='img/projects/carpinus/carpinus-1/1.jpg', alt='')
							img(src='img/projects/carpinus/carpinus-1/2.jpg', alt='')
							img(src='img/projects/carpinus/carpinus-1/3.jpg', alt='')
							img(src='img/projects/carpinus/carpinus-1/4.jpg', alt='')
							img(src='img/projects/carpinus/carpinus-1/6.jpg', alt='')
							img(src='img/projects/carpinus/carpinus-1/sw-ulmus-tin-teak.jpg', alt='')
					#adv-project-carpinus-1.albom-catalog-img
				article#project-salix-1.project-albom.project-salix-1.albom.clearfix
					header.full-title
						h1.green-priz
							span Salix-1
					.toogle-sniper.sniper-projects-albom
						span.catalog-sniper
						span.albom-sniper
					ul.info
						li.type
							span Тип:
							| Территория с бассейном
						li.material.clearfix
							div
								span Материал:
								a(href='#', data-catalog='SW-Salix-6') Salix
							a.photo.fRight(href='#', data-catalog='SW-Salix-6')
								img(src='img/projects/material.jpg', alt='')
						li.date
							span Дата реализации:
							time(datetime='2011-05-26') Август 2013
					.wrapper-albom.clearfix
						.project-slideshow.cycle-slideshow(data-cycle-log='false', data-index='1', data-cycle-fx='scrollHorz', data-cycle-timeout='0', data-cycle-pager='#adv-project-salix-1', data-cycle-pager-template="<a href='#' ><img src='{{src}}' width=20 height=20></a>")
							img(src='img/projects/salix/salix-1/1.jpg', alt='')
							img(src='img/projects/salix/salix-1/3.jpg', alt='')
							img(src='img/projects/salix/salix-1/4.jpg', alt='')
							img(src='img/projects/salix/salix-1/6.jpg', alt='')
							img(src='img/projects/salix/salix-1/8.jpg', alt='')
					#adv-project-salix-1.albom-catalog-img
				article#project-salix-4.project-albom.project-salix-4.albom.clearfix
					header.full-title
						h1.green-priz
							span Salix-4
					.toogle-sniper.sniper-projects-albom
						span.catalog-sniper
						span.albom-sniper
					ul.info
						li.type
							span Тип:
							| 						Форум на территории ИЦ "Сколково"
						li.material.clearfix
							div
								span Материал:
								a(href='#', data-catalog='SW-Salix-6') Salix
							a.photo.fRight(href='#', data-catalog='SW-Salix-6')
								img(src='img/projects/material.jpg', alt='')
						li.date
							span Дата реализации:
							time(datetime='2011-05-26') Июнь 2014
					.wrapper-albom.clearfix
						.project-slideshow.cycle-slideshow(data-cycle-log='false', data-index='1', data-cycle-fx='scrollHorz', data-cycle-timeout='0', data-cycle-pager='#adv-project-salix-4', data-cycle-pager-template="<a href='#' ><img src='{{src}}' width=20 height=20></a>")
							img(src='img/projects/salix/salix-4/salix-f-4.jpg', alt='')
							img(src='img/projects/salix/salix-4/salix-f-2.jpg', alt='')
							img(src='img/projects/salix/salix-4/salix-f-3.jpg', alt='')
							img(src='img/projects/salix/salix-4/salix-f-1.jpg', alt='')
					#adv-project-salix-4.albom-catalog-img
				article#project-fagus-1.project-albom.project-fagus-1.albom.clearfix
					header.full-title
						h1.green-priz
							span Fagus-1
					.toogle-sniper.sniper-projects-albom
						span.catalog-sniper
						span.albom-sniper
					ul.info
						li.type
							span Тип:
							| 						Терраса
						li.material.clearfix
							div
								span Материал:
								a(href='#', data-catalog='sw-fagus-t1') SW Fagus
							a.photo.fRight(href='#', data-catalog='sw-fagus-t1')
								img(src='img/projects/material.jpg', alt='')
						li.date
							span Дата реализации:
							time(datetime='2011-05-26') Апрель 2015
					.wrapper-albom.clearfix
						.project-slideshow.cycle-slideshow(data-cycle-log='false', data-index='1', data-cycle-fx='scrollHorz', data-cycle-timeout='0', data-cycle-pager='#adv-project-fagus-1', data-cycle-pager-template="<a href='#' ><img src='{{src}}' width=20 height=20></a>")
							img(src='img/projects/fagus/fagus-1/sw-fagus-ter_1.jpg', alt='')
							img(src='img/projects/fagus/fagus-1/sw-fagus-ter_2.jpg', alt='')
							img(src='img/projects/fagus/fagus-1/sw-fagus-ter_3.jpg', alt='')
							img(src='img/projects/fagus/fagus-1/sw-fagus-ter_4.jpg', alt='')
							img(src='img/projects/fagus/fagus-1/sw-fagus-ter_5.jpg', alt='')
							img(src='img/projects/fagus/fagus-1/sw-fagus-ter_6.jpg', alt='')
					#adv-project-fagus-1.albom-catalog-img
				article#project-salix-2.project-albom.project-salix-2.albom.clearfix
					header.full-title
						h1.green-priz
							span Salix-2
					.toogle-sniper.sniper-projects-albom
						span.catalog-sniper
						span.albom-sniper
					ul.info
						li.type
							span Тип:
							| 	Бассейн
						li.material.clearfix
							div
								span Материал:
								a(href='#', data-catalog='sw-salix') Salix
							a.photo.fRight(href='#', data-catalog='sw-salix')
								img(src='img/projects/material.jpg', alt='')
						li.date
							span Дата реализации:
							time(datetime='2011-05-26') Май 2012
					.wrapper-albom.clearfix
						.project-slideshow.cycle-slideshow(data-cycle-log='false', data-index='2', data-cycle-fx='scrollHorz', data-cycle-timeout='0', data-cycle-pager='#adv-project-salix-2', data-cycle-pager-template="<a href='#' ><img src='{{src}}' width=20 height=20></a>")
							img(src='img/projects/salix/salix-2/2.jpg', alt='')
							img(src='img/projects/salix/salix-2/1.jpg', alt='')
							img(src='img/projects/salix/salix-2/3.jpg', alt='')
							img(src='img/projects/salix/salix-2/4.jpg', alt='')
							img(src='img/projects/salix/salix-2/6.jpg', alt='')
							img(src='img/projects/salix/salix-2/7.jpg', alt='')
							img(src='img/projects/salix/salix-2/8.jpg', alt='')
					#adv-project-salix-2.albom-catalog-img
				article#project-salix-3.project-albom.project-salix-3.albom.clearfix
					header.full-title
						h1.green-priz
							span Salix-3
					.toogle-sniper.sniper-projects-albom
						span.catalog-sniper
						span.albom-sniper
					ul.info
						li.type
							span Тип:
							| 						Терраса
						li.material.clearfix
							div
								span Материал:
								a(href='#', data-catalog='sw-salix') Salix
							a.photo.fRight(href='#', data-catalog='sw-salix')
								img(src='img/projects/material.jpg', alt='')
						li.date
							span Дата реализации:
							time(datetime='2011-05-26') Июнь 2013
					.wrapper-albom.clearfix
						.project-slideshow.cycle-slideshow(data-cycle-log='false', data-index='3', data-cycle-fx='scrollHorz', data-cycle-timeout='0', data-cycle-pager='#adv-project-salix-3', data-cycle-pager-template="<a href='#' ><img src='{{src}}' width=20 height=20></a>")
							img(src='img/projects/salix/salix-3/1.jpg', alt='')
							img(src='img/projects/salix/salix-3/2.jpg', alt='')
							img(src='img/projects/salix/salix-3/3.jpg', alt='')
							img(src='img/projects/salix/salix-3/4.jpg', alt='')
					#adv-project-salix-3.albom-catalog-img
				article#project-quercus-1.project-albom.project-Quercus-1.albom.clearfix
					header.full-title
						h1.green-priz
							span Quercus-1
					.toogle-sniper.sniper-projects-albom
						span.catalog-sniper
						span.albom-sniper
					ul.info
						li.type
							span Тип:
							| 	Бассейн
						li.material.clearfix
							div
								span Материал:
								a(href='#', data-catalog='SW-Quercus-4') Quercus
							a.photo.fRight(href='#', data-catalog='SW-Quercus-4')
								img(src='img/projects/material.jpg', alt='')
						li.date
							span Дата реализации:
							time(datetime='2011-05-26') Август 2014
					.wrapper-albom.clearfix
						.project-slideshow.cycle-slideshow(data-cycle-log='false', data-index='6', data-cycle-fx='scrollHorz', data-cycle-timeout='0', data-cycle-pager='#adv-project-Quercus-1', data-cycle-pager-template="<a href='#' ><img src='{{src}}' width=20 height=20></a>")
							img(src='img/projects/quercus/quercus-1/1.jpg', alt='')
							img(src='img/projects/quercus/quercus-1/2.jpg', alt='')
					#adv-project-Quercus-1.albom-catalog-img
				article#project-quercus-2.project-albom.project-Quercus-2.albom.clearfix
					header.full-title
						h1.green-priz
							span Quercus-2
					.toogle-sniper.sniper-projects-albom
						span.catalog-sniper
						span.albom-sniper
					ul.info
						li.type
							span Тип:
							| 						Бассейн
						li.material.clearfix
							div
								span Материал:
								a(href='#', data-catalog='SW-Quercus-4') Quercus
							a.photo.fRight(href='#', data-catalog='SW-Quercus-4')
								img(src='img/projects/material.jpg', alt='')
						li.date
							span Дата реализации:
							time(datetime='2011-05-26') Сентябрь 2013
					.wrapper-albom.clearfix
						.project-slideshow.cycle-slideshow(data-cycle-log='false', data-index='7', data-cycle-prev='#project-Quercus-2 .photo-prev', data-cycle-next='#project-Quercus-2 .photo-next', data-cycle-fx='scrollHorz', data-cycle-timeout='0', data-cycle-pager='#adv-project-Quercus-2', data-cycle-pager-template="<a href='#' ><img src='{{src}}' width=20 height=20></a>")
							img(src='img/projects/quercus/quercus-2/1.jpg', alt='')
					#adv-project-Quercus-2.albom-catalog-img
				article#project-cedrus-1.project-albom.project-cedrus-1.albom.clearfix
					header.full-title
						h1.green-priz
							span Cedrus-1
					.toogle-sniper.sniper-projects-albom
						span.catalog-sniper
						span.albom-sniper
					ul.info
						li.type
							span Тип:
							| 						Обшивка сайдингом дома
						li.material.clearfix
							div
								span Материал:
								a(href='#', data-catalog='sw-cedrus') Cedrus
							a.photo.fRight(href='#', data-catalog='sw-cedrus')
								img(src='img/projects/material.jpg', alt='')
						li.date
							span Дата реализации:
							time(datetime='2011-05-26') Февраль 2015
					.wrapper-albom.clearfix
						.project-slideshow.cycle-slideshow(data-cycle-log='false', data-index='7', data-cycle-fx='scrollHorz', data-cycle-timeout='0', data-cycle-pager='#adv-project-Cedrus-1', data-cycle-pager-template="<a href='#' ><img src='{{src}}' width=20 height=20></a>")
							img(src='img/projects/cedrus/cedrus-1/sw-cedrus-1.jpg', alt='')
							img(src='img/projects/cedrus/cedrus-1/sw-cedrus-2.jpg', alt='')
							img(src='img/projects/cedrus/cedrus-1/sw-cedrus-3.jpg', alt='')
							img(src='img/projects/cedrus/cedrus-1/sw-cedrus-4.jpg', alt='')
					#adv-project-Cedrus-1.albom-catalog-img
				article#project-quercus-3.project-albom.project-Quercus-3.albom.clearfix
					header.full-title
						h1.green-priz
							span Quercus-3
					.toogle-sniper.sniper-projects-albom
						span.catalog-sniper
						span.albom-sniper
					ul.info
						li.type
							span Тип:
							| 						Терраса
						li.material.clearfix
							div
								span Материал:
								a(href='#', data-catalog='SW-Quercus-4') Quercus
							a.photo.fRight(href='#', data-catalog='SW-Quercus-4')
								img(src='img/projects/material.jpg', alt='')
						li.date
							span Дата реализации:
							time(datetime='2011-05-26') Май 2014
					.wrapper-albom.clearfix
						.project-slideshow.cycle-slideshow(data-cycle-log='false', data-index='7', data-cycle-fx='scrollHorz', data-cycle-timeout='0', data-cycle-pager='#adv-project-Quercus-3', data-cycle-pager-template="<a href='#' ><img src='{{src}}' width=20 height=20></a>")
							img(src='img/projects/quercus/quercus-3/1.jpg', alt='')
							img(src='img/projects/quercus/quercus-3/2.jpg', alt='')
							img(src='img/projects/quercus/quercus-3/4.jpg', alt='')
							img(src='img/projects/quercus/quercus-3/5.jpg', alt='')
					#adv-project-Quercus-3.albom-catalog-img
				article#project-ulmus-1.project-albom.project-Ulmus-1.albom.clearfix
					header.full-title
						h1.green-priz
							span Ulmus-1
					.toogle-sniper.sniper-projects-albom
						span.catalog-sniper
						span.albom-sniper
					ul.info
						li.type
							span Тип:
							| 						Балкон-лоджия
						li.material.clearfix
							div
								span Материал:
								a(href='#', data-catalog='sw-ulmus-tin') Ulmus
							a.photo.fRight(href='#', data-catalog='sw-ulmus-tin')
								img(src='img/projects/material.jpg', alt='')
						li.date
							span Дата реализации:
							time(datetime='2011-05-26') Сентябрь 2013
					.wrapper-albom.clearfix
						.project-slideshow.cycle-slideshow(data-cycle-log='false', data-index='8', data-cycle-fx='scrollHorz', data-cycle-timeout='0', data-cycle-pager='#adv-project-Ulmus-1', data-cycle-pager-template="<a href='#' ><img src='{{src}}' width=20 height=20></a>")
							img(src='img/projects/ulmus/ulmus-1/3.jpg', alt='')
							img(src='img/projects/ulmus/ulmus-1/2.jpg', alt='')
							img(src='img/projects/ulmus/ulmus-1/1.jpg', alt='')
							img(src='img/projects/ulmus/ulmus-1/4.jpg', alt='')
						a.photo-prev(href='#')
						a.photo-next(href='#')
					#adv-project-Ulmus-1.albom-catalog-img
				article#project-ulmus-2.project-albom.project-Ulmus-2.albom.clearfix
					header.full-title
						h1.green-priz
							span Ulmus-2
					.toogle-sniper.sniper-projects-albom
						span.catalog-sniper
						span.albom-sniper
					ul.info
						li.type
							span Тип:
							| 						Лоджия
						li.material.clearfix
							div
								span Материал:
								a(href='#', data-catalog='sw-ulmus-tin') Ulmus
							a.photo.fRight(href='#', data-catalog='sw-ulmus-tin')
								img(src='img/projects/material.jpg', alt='')
						li.date
							span Дата реализации:
							time(datetime='2011-05-26') Июнь 2014
					.wrapper-albom.clearfix
						.project-slideshow.cycle-slideshow(data-cycle-log='false', data-index='8', data-cycle-fx='scrollHorz', data-cycle-timeout='0', data-cycle-pager='#adv-project-Ulmus-2', data-cycle-pager-template="<a href='#' ><img src='{{src}}' width=20 height=20></a>")
							img(src='img/projects/ulmus/ulmus-2/sw-ulmus-ter-1.jpg', alt='')
							img(src='img/projects/ulmus/ulmus-2/sw-ulmus-ter-2.jpg', alt='')
						a.photo-prev(href='#')
						a.photo-next(href='#')
					#adv-project-Ulmus-2.albom-catalog-img
				#wrapper-catalog-projects-nav
					a.photo-prev(href='#')
					a.photo-next(href='#')
		section#catalog.slide
			header.full-title
				h1.green-priz
					span Каталог
			ul.filters-catalog.clearfix
				li
					a(href='#', data-filter='catalog-decking') Террасная доска
				li
					a(href='#', data-filter='catalog-siding') Сайдинг
				li
					a(href='#', data-filter='catalog-fence') Заборы и ограждения
				li
					a(href='#', data-filter='catalog-stage') Ступени
				li
					a(href='#', data-filter='accessories') Аксессуары
				li
					a.selected(href='#', data-filter='*') Все
			#CatalogContainer.row
				#products
					article.catalog-decking(data-catalog='sw-padus-t1')
						img(src='img/catalog/sw-padus-tang1-teak.jpg', alt='')
						h2
							| SW Padus (t)
							br
							| террасная доска
						.special-offer
							span
								span новинка
						span.price
							| от 3410
							i.glyphicon.glyphicon-ruble
						.preview-helper
					article.catalog-decking(data-catalog='sw-padus-r1')
						img(src='img/catalog/sw-padus-rad1-teak.jpg', alt='')
						h2
							| SW Padus (r)
							br
							| террасная доска
						.special-offer
							span
								span новинка
						span.price
							| от 3410
							i.glyphicon.glyphicon-ruble
						.preview-helper
					article.catalog-decking(data-catalog='sw-ulmus-thin')
						img(src='img/catalog/sw-ulmus-thin-teak.jpg', alt='')
						h2
							| SW Ulmus (thin)
							br
							| террасная доска
						.special-offer
							span
								span новинка
						span.price
							| от 1659
							i.glyphicon.glyphicon-ruble
						.preview-helper
					article.catalog-decking(data-catalog='sw-ulmus-wide')
						img(src='img/catalog/sw-ulmus-wide-teak.jpg', alt='')
						h2
							| SW Ulmus (wide)
							br
							| террасная доска
						.special-offer
							span
								span новинка
						span.price
							| от 1659
							i.glyphicon.glyphicon-ruble
						.preview-helper
					article.catalog-fence(data-catalog='sw-agger')
						img(src='img/catalog/sw-agger-teak.jpg', alt='')
						h2
							| SW Agger
							br
							| заборный профиль
						.special-offer
							span
								span новинка
						span.price
							| от 1870
							i.glyphicon.glyphicon-ruble
						.preview-helper
					article.catalog-stage(data-catalog='sw-radix')
						img(src='img/catalog/sw-radix-teak.jpg', alt='')
						h2
							| SW Radix
							br
							| профиль для ступеней
						.special-offer
							span
								span новинка
						span.price
							| от 1950
							i.glyphicon.glyphicon-ruble
						.preview-helper
					article.catalog-decking(data-catalog='sw-fagus-t1')
						img(src='img/catalog/sw-fagus-tang1-teak.jpg', alt='')
						h2
							| SW Fagus (t)
							br
							| террасная доска
						// <div class="special-offer"><span><span>спец</span> предложение</span></div>
						span.price
							| от 2502
							i.glyphicon.glyphicon-ruble
						.preview-helper
					article.catalog-decking(data-catalog='sw-fagus-r1')
						img(src='img/catalog/sw-fagus-rad1-teak.jpg', alt='')
						h2
							| SW Fagus (r)
							br
							| террасная доска
						// <div class="special-offer"><span><span>спец</span> предложение</span></div>
						span.price
							| от 2502
							i.glyphicon.glyphicon-ruble
						.preview-helper
					article.catalog-decking(data-catalog='sw-salix')
						img(src='img/catalog/sw-salix-teak.jpg', alt='')
						h2
							| SW Salix
							br
							| террасная доска
						// <div class="special-offer"><span><span>спец</span> предложение</span></div>
						span.price
							| от 1758
							i.glyphicon.glyphicon-ruble
						.preview-helper
					article.catalog-siding(data-catalog='sw-sorbus')
						img(src='img/catalog/sw-sorbus-teak.jpg', alt='')
						h2
							| SW Sorbus
							br
							| сайдинг ПЭ
						// <div class="special-offer"><span><span>спец</span> предложение</span></div>
						span.price
							| 1518
							i.glyphicon.glyphicon-ruble
						.preview-helper
					article.catalog-siding(data-catalog='sw-cedrus')
						img(src='img/catalog/sw-cedrus-teak.jpg', alt='')
						h2
							| SW Cedrus
							br
							| сайдинг ПВХ
						// <div class="special-offer"><span><span>спец</span> предложение</span></div>
						span.price
							| от 1287
							i.glyphicon.glyphicon-ruble
						.preview-helper
					article.catalog-fence(data-catalog='sw-arbor')
						img(src='img/catalog/sw-arbor.jpg', alt='')
						h2
							| SW Arbor
							br
							| декоративное ограждение
						.special-offer
							span
								span новинка
						span.price Цена от по запросу
						.preview-helper
					article.accessories(data-catalog='end-rail-13')
						img(src='img/catalog/sw-reika.jpg', alt='')
						h2 Торцевая рейка
						// <div class="special-offer"><span><span>спец</span> предложение</span></div>
						span.price
							| 160
							i.glyphicon.glyphicon-ruble
						.preview-helper
					article.accessories(data-catalog='laga-assembly-14')
						img(src='img/catalog/sw-lagi.jpg', alt='')
						h2 Лага монтажная
						// <div class="special-offer"><span><span>спец</span> предложение</span></div>
						span.price
							| от 160
							i.glyphicon.glyphicon-ruble
						.preview-helper
					article.accessories(data-catalog='sw-ugolok-dpk')
						img(src='img/catalog/sw-ugolok-dpk.jpg', alt='')
						h2 Уголок
						// <div class="special-offer"><span><span>спец</span> предложение</span></div>
						span.price
							| 160
							i.glyphicon.glyphicon-ruble
						.preview-helper
				#full-products
					#close-wrapper(title='Закрыть продукт')
					a.catalog-prev(href='#')
					#wrapper-full-products.cycle-full-products
						a.close(href='#')
						a.order(href='#') Заказать
						article#sw-padus-t1.clearfix
							#catalog-sw-padus-t1.photo.fLeft
								.product__slider(class='.owl-carousel')
									// слайды
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-padus-tang1-teak.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Тик
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-padus-tang1/sw-padus-tang1-black.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Черный
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-padus-tang1/sw-padus-tang1-white.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Белый
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-padus-tang1/sw-padus-tang1-brown.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Темно-коричневый
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-padus-tang1/sw-padus-tang1-terr.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Терракот
								.special-offer
									span
										span новинка
								// Навигация по слайдам
								// Кнопки навигации
								p Варианты покрытия и цветовой гаммы
							.info.fLeft
								h1 Террасная доска
								h2 SW Padus тангенциальный распил
								p
									| Террасная доска на основе ПВХ.
									br
									| Бесшовный профиль полностью повторяющий текстуру дерева.Уникальное комплексное решение. В комплект входит стартовый профиль и заглушка.
								.characteristics.fLeft
									h3 Основные характеристики
									ul
										li
											p Размеры:
											span 155 мм Х 25 мм
										li
											p
												| Расход на м
												sup 2
												| :
											span
												| 7,75 п.м / м
												sup 2
										li
											p Длина:
											span 4 м
										li
											p Материал:
											span ПВХ
								.price.fLeft
									h3 Цена от:
									span
										span 3410
										|  руб/м
										sup 2
								.clearfix
								.instruction
									h3 Комплектующие
									ul
										// <li><ul class="pdf"><li><a href="#"></a></li></ul></li>
										li
											ul
												li
													img(src='img/catalog/in/sw-padus-start.png', alt='Стартовый профиль для SW Padus')
												li
													img(src='img/catalog/in/sw-padus-zagl.png', alt='Заглушка для SW Padus')
							a.close(href='#')
							a.order(href='#') Заказать
						article#sw-padus-r1.clearfix
							#catalog-sw-padus-r1.photo.fLeft
								.product__slider(class='.owl-carousel')
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-padus-rad1-teak.jpg', alt='')
										.product-slide__text Тик
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-padus-rad1/sw-padus-rad1-black.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Черный
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-padus-rad1/sw-padus-rad1-white.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Белый
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-padus-rad1/sw-padus-rad1-brown.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Темно-коричневый
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-padus-rad1/sw-padus-rad1-terr.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Терракот
								.special-offer
									span
										span новинка
								// Навигация по слайдам
								// Кнопки навигации
								p Варианты покрытия и цветовой гаммы
							.info.fLeft
								h1 Террасная доска
								h2 SW Padus радиальный распил
								p
									| Террасная доска на основе ПВХ.
									br
									| Бесшовный профиль полностью повторяющий текстуру дерева.Уникальное комплексное решение. В комплект входит стартовый профиль и заглушка.
								.characteristics.fLeft
									h3 Основные характеристики
									ul
										li
											p Размеры:
											span 155 мм Х 25 мм
										li
											p
												| Расход на м
												sup 2
												| :
											span
												| 7,75 п.м / м
												sup 2
										li
											p Длина:
											span 4 м
										li
											p Материал:
											span ПВХ
								.price.fLeft
									h3 Цена от:
									span
										span 3410
										|  руб/м
										sup 2
								.clearfix
								.instruction
									h3 Комплектующие
									ul
										// <li><ul class="pdf"><li><a href="#"></a></li></ul></li>
										li
											ul
												li
													img(src='img/catalog/in/sw-padus-start.png', alt='Стартовый профиль для SW Padus')
												li
													img(src='img/catalog/in/sw-padus-zagl.png', alt='Заглушка для SW Padus')
							a.close(href='#')
							a.order(href='#') Заказать
						article#sw-ulmus-thin.clearfix
							#catalog-sw-ulmus-thin.photo.fLeft
								.product__slider(class='.owl-carousel')
									// слайды
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-ulmus-thin-teak.jpg', alt='')
										.product-slide__text Тик
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-ulmus-thin/sw-ulmus-thin-black.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Черный
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-ulmus-thin/sw-ulmus-thin-white.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Белый
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-ulmus-thin/sw-ulmus-thin-brown.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Темно-коричневый
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-ulmus-thin/sw-ulmus-thin-terr.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Терракот
								.special-offer
									span
										span новинка
								// Навигация по слайдам
								// Кнопки навигации
								p Варианты покрытия и цветовой гаммы
							.info.fLeft
								h1 Террасная доска
								h2 SW Ulmus узкий вельвет
								p
									| Террасная доска на основе ПВХ.
									br
									| Универсальный профиль для использования на коммерческих объектах.  Бесшовная. Простой монтаж. Не требует дополнительных крепежных элементов.
								.characteristics.fLeft
									h3 Основные характеристики
									ul
										li
											p Размеры:
											span 148 мм Х 25 мм
										li
											p
												| Расход на м
												sup 2
												| :
											span
												| 7,0 п.м / м
												sup 2
										li
											p Длина:
											span 4,6 м
										li
											p Материал:
											span ПВХ
								.price.fLeft
									h3 Цена от:
									span
										span 1659
										|  руб/м
										sup 2
								.clearfix
								.instruction
									h3 Крепеж
									ul
										// <li><ul class="pdf"><li><a href="#"></a></li></ul></li>
										li
											ul
												li
													img(src='img/catalog/in/krep-all.png', alt='')
							a.close(href='#')
							a.order(href='#') Заказать
						article#sw-ulmus-wide.clearfix
							#catalog-sw-ulmus-wide.photo.fLeft
								.product__slider(class='.owl-carousel')
									// слайды
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-ulmus-wide-teak.jpg', alt='')
										.product-slide__text Тик
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-ulmus-wide/sw-ulmus-wide-black.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Черный
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-ulmus-wide/sw-ulmus-wide-white.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Белый
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-ulmus-wide/sw-ulmus-wide-brown.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Темно-коричневый
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-ulmus-wide/sw-ulmus-wide-terr.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Терракот
								.special-offer
									span
										span новинка
								// Навигация по слайдам
								// Кнопки навигации
								p Варианты покрытия и цветовой гаммы
							.info.fLeft
								h1 Террасная доска
								h2 SW Ulmus широкий вельвет
								p
									| Террасная доска на основе ПВХ.
									br
									| Универсальный профиль для использования на коммерческих объектах.  Бесшовная. Простой монтаж. Не требует дополнительных крепежных элементов.
								.characteristics.fLeft
									h3 Основные характеристики
									ul
										li
											p Размеры:
											span 148 мм Х 25 мм
										li
											p
												| Расход на м
												sup 2
												| :
											span
												| 7,0 п.м / м
												sup 2
										li
											p Длина:
											span 4,6 м
										li
											p Материал:
											span ПВХ
								.price.fLeft
									h3 Цена от:
									span
										span 1659
										|  руб/м
										sup 2
								.clearfix
								.instruction
									h3 Крепеж
									ul
										// <li><ul class="pdf"><li><a href="#"></a></li></ul></li>
										li
											ul
												li
													img(src='img/catalog/in/krep-all.png', alt='')
							a.close(href='#')
							a.order(href='#') Заказать
						article#sw-agger.clearfix
							#catalog-sw-agger.photo.fLeft
								.product__slider(class='.owl-carousel')
									// слайды
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-agger-teak.jpg', alt='')
										.product-slide__text Тик
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-agger/sw-agger-black.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Черный
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-agger/sw-agger-white.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Белый
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-agger/sw-agger-brown.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Темно-коричневый
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-agger/sw-agger-terr.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Терракот
								.special-offer
									span
										span новинка
								// Навигация по слайдам
								// Кнопки навигации
								p Варианты покрытия и цветовой гаммы
							.info.fLeft
								h1 Заборный профиль
								h2 SW-Agger
								p
									| Заборный профиль на основе ПВХ.
									br
									| Заборный профиль отличающийся удобством эксплуатации и длительным сроком службы.
								.characteristics.fLeft
									h3 Основные характеристики
									ul
										li
											p Размеры:
											span 200 мм Х 28 мм
										li
											p
												| Расход на м
												sup 2
												| :
											span
												| 5,0 п.м / м
												sup 2
										li
											p Длина:
											span 2 м
										li
											p Материал:
											span ПВХ
								.price.fLeft
									h3 Цена от:
									span
										span 1870
										|  руб/м
										sup 2
								.clearfix
								.instruction
									h3 Крепеж
									//
										<ul>
										li><ul class="pdf"><li><a href="#"></a></li></ul></li>
									// <li><ul><li><img src="img/catalog/in/krep-all.png" alt="" /></li><li><img src="img/catalog/in/krep-que.png" alt="" /></li></ul></li></ul>
						article#sw-radix.clearfix
							#catalog-sw-radixr.photo.fLeft
								.product__slider(class='.owl-carousel')
									// слайды
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-radix-teak.jpg', alt='')
										.product-slide__text Тик
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-radix/sw-radix-black.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Черный
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-radix/sw-radix-white.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Белый
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-radix/sw-radix-brown.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Темно-коричневый
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-radix/sw-radix-terr.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Терракот
								.special-offer
									span
										span новинка
								// Навигация по слайдам
								// Кнопки навигации
								p Варианты покрытия и цветовой гаммы
							.info.fLeft
								h1 Профиль для ступеней
								h2 SW-Radix
								p
									| Профиль на основе ПВХ.
									br
									| Профиль, специально разработанный для ступеней. Цена указана за погонный метр.
								.characteristics.fLeft
									h3 Основные характеристики
									ul
										li
											p Размеры:
											span 320 мм Х 25 мм
										// <li><p>Расход на м<sup>2</sup>:</p><span>5,0 п.м / м<sup>2</sup></span></li>
										li
											p Длина:
											span 4 м
										li
											p Материал:
											span ПВХ
								.price.fLeft
									h3 Цена от:
									span
										span 1950
										| руб/м.п.
								.clearfix
								.instruction
									h3 Крепеж
									//
										<ul>
										<! li><ul class="pdf"><li><a href="#"></a></li></ul></li>
									// <li><ul><li><img src="img/catalog/in/krep-all.png" alt="" /></li><li><img src="img/catalog/in/krep-que.png" alt="" /></li></ul></li></ul>
						article#sw-fagus-t1.clearfix
							#catalog-sw-fagus-t1.photo.fLeft
								.product__slider(class='.owl-carousel')
									// слайды
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-fagus-tang1-teak.jpg', alt='')
										.product-slide__text Тик
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-fagus-tang1/sw-fagus-tang1-black.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Черный
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-fagus-tang1/sw-fagus-tang1-white.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Белый
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-fagus-tang1/sw-fagus-tang1-brown.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Темно-коричневый
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-fagus-tang1/sw-fagus-tang1-terr.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Терракот
								// <div class="special-offer"><span><span>новинка</span></span></div>
								// Навигация по слайдам
								// Кнопки навигации
								p Варианты покрытия и цветовой гаммы
							.info.fLeft
								h1 Террасная доска
								h2 SW-Fagus тангенциальный распил
								p
									| Террасная доска на основе ПВХ.
									br
									| Профиль с текстурой дерева для использования на всех типах объектов. Идеально подойдёт для отделки бассейных зон и там, где нужно подчеркнуть древесный стиль. Два варианта обработки: Радиальный (R) и Тангенциальный (T).
								.characteristics.fLeft
									h3 Основные характеристики
									ul
										li
											p Размеры:
											span 144 мм Х 28 мм
										li
											p
												| Расход на м
												sup 2
												| :
											span
												| 6,71 п.м / м
												sup 2
										li
											p Длина:
											span 4 м
										li
											p Материал:
											span ПВХ
								.price.fLeft
									h3 Цена от:
									span
										span 2502
										|  руб/м
										sup 2
								.clearfix
								.instruction
									h3 Крепеж
									ul
										// li><ul class="pdf"><li><a href="#"></a></li></ul></li>
										li
											ul
												li
													img(src='img/catalog/in/krep-all.png', alt='')
												li
													img(src='img/catalog/in/krep-que.png', alt='')
						article#sw-fagus-r1.clearfix
							#catalog-sw-fagus-r1.photo.fLeft
								.product__slider(class='.owl-carousel')
									// слайды
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-fagus-rad1-teak.jpg', alt='')
										.product-slide__text Тик
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-fagus-rad1/sw-fagus-rad1-black.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Черный
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-fagus-rad1/sw-fagus-rad1-white.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Белый
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-fagus-rad1/sw-fagus-rad1-brown.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Темно-коричневый
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-fagus-rad1/sw-fagus-rad1-terr.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Терракот
								// <div class="special-offer"><span><span>новинка</span></span></div>
								// Навигация по слайдам
								// Кнопки навигации
								p Варианты покрытия и цветовой гаммы
							.info.fLeft
								h1 Террасная доска
								h2 SW-Fagus радиальный распил
								p
									| Террасная доска на основе ПВХ.
									br
									| Профиль с текстурой дерева для использования на всех типах объектов. Идеально подойдёт для отделки бассейных зон и там, где нужно подчеркнуть древесный стиль. Два варианта обработки: Радиальный (R) и Тангенциальный (T).
								.characteristics.fLeft
									h3 Основные характеристики
									ul
										li
											p Размеры:
											span 144 мм Х 28 мм
										li
											p
												| Расход на м
												sup 2
												| :
											span
												| 6,71 п.м / м
												sup 2
										li
											p Длина:
											span 4 м
										li
											p Материал:
											span ПВХ
								.price.fLeft
									h3 Цена от:
									span
										span 2502
										|  руб/м
										sup 2
								.clearfix
								.instruction
									h3 Крепеж
									ul
										// li><ul class="pdf"><li><a href="#"></a></li></ul></li>
										li
											ul
												li
													img(src='img/catalog/in/krep-all.png', alt='')
												li
													img(src='img/catalog/in/krep-que.png', alt='')
						article#sw-salix.clearfix
							#ccatalog-sw-salix.photo.fLeft
								.product__slider(class='.owl-carousel')
									// слайды
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-salix-teak.jpg', alt='')
										.product-slide__text Тик
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-salix/sw-salix-black.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Черный
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-salix/sw-salix-white.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Белый
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-salix/sw-salix-brown.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Темно-коричневый
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-salix/sw-salix-terr.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Терракот
								// <div class="special-offer"><span><span>новинка</span></span></div>
								// Навигация по слайдам
								// Кнопки навигации
								p Варианты покрытия и цветовой гаммы
							.info.fLeft
								h1 Террасная доска
								h2 SW-Salix
								p
									| Террасная доска на основе ПВХ.
									br
									| Профиль с закрытыми торцами, не требует использования торцевой планки. Идеально подходит для лестниц. Скрытый крепеж.
								.characteristics.fLeft
									h3 Основные характеристики
									ul
										li
											p Размеры:
											span 163 мм Х 25 мм
										li
											p
												| Расход на м
												sup 2
												| :
											span
												| 6,0 п.м / м
												sup 2
										li
											p Длина:
											span 4, 6 м
										li
											p Материал:
											span ПВХ
								.price.fLeft
									h3 Цена от:
									span
										span 1758
										|  руб/м
										sup 2
								.clearfix
								.instruction
									h3 Крепеж
									ul
										// <li><ul class="pdf"><li><a href="#"></a></li></ul></li>
										li
											ul
												li
													img(src='img/catalog/in/krep-all.png', alt='')
												li
													img(src='img/catalog/in/krep-sal.png', alt='')
						article#sw-sorbus.clearfix
							#catalog-sw-sorbus.photo.fLeft
								.product__slider(class='.owl-carousel')
									// слайды
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-sorbus-teak.jpg', alt='')
										.product-slide__text Тик
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-sorbus/sw-sorbus-brown.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Темно-коричневый
								// <div class="special-offer"><span><span>новинка</span></span></div>
								// Навигация по слайдам
								// Кнопки навигации
								p Варианты покрытия и цветовой гаммы
							.info.fLeft
								h1 Сайдинг
								h2 SW-Sorbus
								p
									| Стеновая панель (сайдинг).
									br
									| Сайдинг с текстурой дерева. Отличается удобством эксплуатации и не нуждается в дополнительной обработке.
								.characteristics.fLeft
									h3 Основные характеристики
									ul
										li
											p Размеры:
											span 157 мм Х 20 мм
										li
											p
												| Расход на м
												sup 2
												| :
											span
												| 7,33 п.м / м
												sup 2
										li
											p Длина:
											span 4 м
										li
											p Материал:
											span ПЭ
								.price.fLeft
									h3 Цена:
									span
										span 1518
										|  руб/м
										sup 2
								.clearfix
								// <div class="instruction"><h3>Крепеж</h3><ul><li><ul class="pdf"><li><a href="#"></a></li></ul></li><li><ul><li><img src="img/catalog/in/krep-all.png" alt="" /></li></ul></li></ul></div>
						article#sw-cedrus.clearfix
							#catalog-sw-cedrus.photo.fLeft
								.product__slider(class='.owl-carousel')
									// слайды
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-cedrus-teak.jpg', alt='')
										.product-slide__text Тик
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-cedrus/sw-cedrus-black.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Черный
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-cedrus/sw-cedrus-white.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Белый
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-cedrus/sw-cedrus-brown.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Темно-коричневый
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-cedrus/sw-cedrus-terr.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Терракот
								// <div class="special-offer"><span><span>новинка</span></span></div>
								// Навигация по слайдам
								// Кнопки навигации
								p Варианты покрытия и цветовой гаммы
							.info.fLeft
								h1 Сайдинг
								h2 SW-Cedrus
								p
									| Стеновая панель (сайдинг).
									br
									| Сайдинг с текстурой дерева. Отличается удобством эксплуатации и не нуждается в дополнительной обработке.
								.characteristics.fLeft
									h3 Основные характеристики
									ul
										li
											p Размеры:
											span 188 мм Х 12 мм
										li
											p
												| Расход на м
												sup 2
												| :
											span
												| 5,85 п.м / м
												sup 2
										li
											p Длина:
											span 4 м
										li
											p Материал:
											span ПВХ
								.price.fLeft
									h3 Цена от:
									span
										span 1287
										|  руб/м
										sup 2
								.clearfix
								// <div class="instruction"><h3>Крепеж</h3><ul><li><ul class="pdf"><li><a href="#"></a></li></ul></li><li><ul><li><img src="img/catalog/in/krep-all.png" alt="" /></li></ul></li></ul></div>
						article#sw-arbor.clearfix
							#catalog-sw-arbor.photo.fLeft
								.product__slider(class='.owl-carousel')
									// слайды
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-arbor.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Декоративное ограждение в сборе
								.special-offer
									span
										span новинка
								// Навигация по слайдам
								// Кнопки навигации
								p Варианты покрытия и цветовой гаммы
							.info.fLeft
								h1 Декоративное ограждение
								h2 SW Arbor
								p
									| Декоративное ограждение на основе ПВХ.
									br
									| Сборное декоративное ограждение Savewood придаст завершенный вид вашим дизайнерским решениям. Комплектация состоит из следующих элементов: 120x120 Столб, 86x32 Перила, 70x70 Промежуточный столб, 70x41 Брус универсальный, 50x31 Балясина, 140x140x23 Крышка
								.characteristics.fLeft
									h3 Основные характеристики
									ul
										li
											p Материал:
											span ПВХ
								.price.fLeft
									h3 Цена по запросу
								.clearfix
								// <div class="instruction"><h3>Комплектующие</h3><ul><li><ul class="pdf"><li><a href="#"></a></li></ul></li>
								// <li><ul><li><img src="img/catalog/in/sw-arbor-start.png" alt="Стартовый профиль для sw-arbor" /></li><li><img src="img/catalog/in/sw-arbor-zagl.png" alt="Заглушка для sw-arbor" /></li></ul></li></ul></div>
							a.close(href='#')
							a.order(href='#') Заказать
						article#end-rail-13.clearfix
							#catalog-end-rail-13.photo.fLeft
								.product__slider(class='.owl-carousel')
									// слайды
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-reika.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Темно-коричневый
								// <div class="special-offer"><span><span>новинка</span></span></div>
								// Навигация по слайдам
								// Кнопки навигации
								p Варианты покрытия и цветовой гаммы
							.info.fLeft
								h1 Аксессуары
								h2 Торцевая рейка
								p
									| Изготовлена из экологически чистого материала, т.е. древесной муки и пищевого полиэтилена.Используется для закрытия торцов террасного покрытия, а также  для дизайнерских решений: в штакетниках, ограждениях, плетёных заборах, обрамления фигурных цветочных клумб и т.д.
								.characteristics.fLeft
									h3 Основные характеристики
									ul
										li
											p Размеры:
											span 80 мм Х 9 мм
										li
											p Длина:
											span 4 м
										li
											p Материал:
											span ПЭ
								.price.fLeft
									h3 Цена от:
									span
										span 160
										|  руб/пог.м.
								.clearfix
								.instruction
									h3 Крепеж
									ul
										// <li><ul class="pdf"><li><a href="#"></a></li></ul></li>
						article#laga-assembly-14.clearfix
							#catalog-laga-assembly-14.photo.fLeft
								.product__slider(class='.owl-carousel')
									// слайды
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-lagi.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Темно-коричневый
								// <div class="special-offer"><span><span>новинка</span></span></div>
								// Навигация по слайдам
								// Кнопки навигации
								p Варианты покрытия и цветовой гаммы
							.info.fLeft
								h1 Аксессуары
								h2 Лага монтажная
								p
									| Универсальный профиль. Используется как для основания террасного покрытия, так и для малых архитектурных форм. Имеет одинаковое температурное расширение с террасной доской.
								.characteristics.fLeft
									h3 Основные характеристики
									ul
										li
											p Размеры ПЭ:
											span 50 мм Х 40 мм
										li
											p Размеры ПВХ:
											span 49 мм Х 33 мм
										// <li><p>Расход на м<sup>2</sup>:</p><span>3,0 п.м / м<sup>2</sup></span></li>
										li
											p Длина:
											span 4 м
										li
											p Материал:
											span ПВХ,ПЭ
								.price.fLeft
									h3 Цена от:
									span
										span 160
										|  руб/пог.м.
								.clearfix
								// <div class="instruction"><h3>Крепеж</h3><ul><li><ul class="pdf"><li><a href="#"></a></li></ul></li>
								// </ul></div>
						article#sw-ugolok-dpk.clearfix
							#catalog-sw-ugolok-dpk.photo.fLeft
								.product__slider(class='.owl-carousel')
									// слайды
									.product-slide
										img.lazyOwl(data-src='img/catalog/sw-ugolok-dpk.jpg', alt='')
										// СЛОЙ ДЛЯ ПОДГРУЗКИ ИЗОБРАЖЕНИЯ НЕ УДАЛЯТЬ
										.product-slide__text Темно-коричневый
								// <div class="special-offer"><span><span>новинка</span></span></div>
								// Навигация по слайдам
								// Кнопки навигации
								p Варианты покрытия и цветовой гаммы
							.info.fLeft
								h1 Аксессуары
								h2 Уголок для декинга
								p
									| Данный уголок предназначен для декинга. Уголок так же выполнен из высококачественного ПВХ.
								.characteristics.fLeft
									h3 Основные характеристики
									ul
										li
											p Размеры:
											span 40 мм Х 40 мм x 5 мм
										// <li><p>Расход на м<sup>2</sup>:</p><span>3,0 п.м / м<sup>2</sup></span></li>
										li
											p Длина:
											span 4 м
										li
											p Материал:
											span ПВХ
								.price.fLeft
									h3 Цена от:
									span
										span 160
										|  руб/пог.м.
								.clearfix
								// <div class="instruction"><h3>Крепеж</h3><ul><li><ul class="pdf"><li><a href="#"></a></li></ul></li>
								// </ul></div>
							//- end full catalog elements
					a.catalog-next(href='#')
					#helper-full-products
		//- start contacts
		section#contacts.slide
			header.full-title
				h1.green-priz
					span Контакты
			#map
				.swiper-container-contacts
					.swiper-wrapper
						.swiper-slide.title-slide.cont-savewood
							h2
								i
								span Контакты Savewood
						.swiper-slide.js-map-link(data-coord='Москва', role='button')
							h3 г. Москва
							p.phone
								span.call_phone_2 +7495  2667976
								| , +7495 4190488
							p.adress Ул. Озерная, дом 42, офис 203
						.swiper-slide.js-map-link(data-coord='Москва2', role='button')
							h3 г. Москва
							p.phone
								span.call_phone_2 +7495  2667976
								| , +7495 4190488
							p.adress ТК Конструктор, 25 км МКАД, внешняя сторона, пав., И.1.6.
						.swiper-slide.js-map-link(data-coord='Санкт-Петербург', role='button')
							h3 г. Санкт-Петербург
							p.phone +7812 4959055, +7981 7481500
							p.adress БЦ АРСЕНАЛ, ул. Лифляндская дом 6, лит М, офис 303
						.swiper-slide.js-map-link(data-coord='Крымск')
							h3 г. Крымск
							p.phone +786131 51777,+7918 6351777
							p.adress Ул. Торговая, дом 8а
						.swiper-slide.js-map-link(data-coord='Нальчик')
							h3 г. Нальчик
							p.phone +7928 7103073, +7988 7296479
							p.adress Ул. Кабардинская, дом 149
					a.contacts-prev(href='#')
					a.contacts-next(href='#')
			.contact
				div
					ul
						li
							a.phone(href='#')
					div
						h2
							span.call_phone_2 +7495 5072110
							| , +7495 4190488
						p SAVEWOOD - г. Москва ул. Озерная, дом 42 офис 203, info@savewood.ru
			.row
				form#contactForm.contact-form(action='https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8', method='POST')
					p.contact-info
					input(type='hidden', name='oid', value='00D24000000JDs6')
					input(type='hidden', name='retURL', value='http://savewood.ru')
					input(type='hidden', name='debug', value='1')
					input(type='hidden', name='debugEmail', value='i.nazarov@savewood.ru')
					.clearfix
						.col-md-6.col-xs-12.fLeft
							input#first_name(type='text', name='first_name', data-validation='text_only', data-required='required', placeholder='Имя')
							input#email(type='text', name='email', data-validation='email', data-required='required', placeholder='E-mail')
							input#phone(type='text', name='phone', data-required='required', placeholder='Телефон')
							select#city.selectpicker(name='city', data-required='required', title='Город', data-width='100%')
								option(value='Moscow') Москва
								option(value='Saint-Petersburg') Санкт-Петербург
								option(value='other') Другой город
							//- <input type="text" id="city" name="city" data-required="required" placeholder="Город">
						.col-md-6.col-xs-12.fLeft
							textarea(name='description', rows='5', placeholder='Сообщение')
							p.clearfix
								button.fLeft(data-form='clear') Очистить
								input.fLeft(type='submit', data-form='submit', value='Отправить')
		.footer__block
			.container-fluid
				.row
					.footer__logo
						img(src='img/preload/pre-logo2.png', alt='')
						p
							| Производство и продажа изделий из древесно-полимерного композита
					ul.footer__nav
						li
							a(href='#promo') Главная
						li
							a(href='#info') Мы
						li
							a(href='#news') Новости
						li
							a(href='#technology') Технология
						li
							a(href='#projects') Проекты
						li
							a(href='#catalog') Каталог
						li
							a(href='#contacts') Контакты
		.copyright
			.container-fluid
				.row
					p.text-center copyright © 2010-2015 savewood.ru
		//- start top navigation
		nav.navbar.navbar-fixed-top#navigation.show-on-scroll
			.navbar-header
				a.navbar-brand(href="#promo").hidden-xs
					img.img-responsive(src='img/logo2.png', alt='Savewood - производство и продажа террасной доски, сайдинга и других изделий из древесно-полимерного композита')
				button.visible-xs(type="button" data-toggle="collapse" data-target=".navbar-collapse" class="pull-right navbar-toggle")
					i.glyphicon.glyphicon-align-justify(aria-hidden="true")
			.collapse.navbar-collapse.pull-right
				.container-fluid
					.row
						ul.nav.navbar-nav.navbar-right(role="tablist")
							li(role="presentation")
								a.nav-button(href='#info') Мы
							li(role="presentation")
								a.nav-button(href='#news') Акции
							li(role="presentation")
								a.nav-button(href='#servise') Сервис
							li(role="presentation")
								a.nav-button(href='#projects') Проекты
							li(role="presentation")
								a.nav-button(href='#catalog') Каталог
							li(role="presentation")
								a.nav-button(href='#contacts') Контакты


		// start right navigation
		ul#float_navigation.show-on-scroll.nav.nav-menu
			li
				a.nav-button(href='#promo')
			li
				a.nav-button(href='#info')
			li
				a.nav-button(href='#quality')
			li
				a.nav-button(href='#servise')
			li
				a.nav-button(href='#projects')
			li
				a.nav-button(href='#catalog')
			li
				a.nav-button(href='#contacts')
		include _footer.jade